 <div class="filter-heading">
  Delivery Area
</div>
<ul class="nav nav-list">
  <li>
    <div class="checkbox">
      <label for="" class="checkbox1">
        <input id="checkbox1" type="checkbox" value="home-style" checked>
        Healthy
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox">
      <label for="" class="checkbox1">
        <input id="checkbox1" type="checkbox" value="cakes" checked>
        Cakes
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox">
      <label for="" class="checkbox1">
        <input id="checkbox1" type="checkbox" value="hotpot" checked>
        Hotpot
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox">
      <label for="" class="checkbox1">
        <input id="checkbox1" type="checkbox" value="buffet" checked>
        Buffet
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox">
      <label for="" class="checkbox1">
        <input id="checkbox1" type="checkbox" value="tea-snacks" checked>
        Tea & Snacks
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox">
      <label for="" class="checkbox1">
        <input id="checkbox1" type="checkbox" value="desserts" checked>
        Desserts
      </label>
    </div>
  </li>
</ul>