<div class="filter-heading">
  <span class="shide">Chef's </span>Option</a>
</div>
<ul id="filter-checkbox" class="nav nav-list">
  <li>
    <label class="container">Booking
      <input type="checkbox" value="booking" class="booking-order-type" onclick="handleClickCheckbox(this)">
      <span class="checkmark"></span>
    </label>
  </li>
  <li>
    <label class="container">Order
      <input type="checkbox" value="order" class="booking-order-type" onclick="handleClickCheckbox(this)">
      <span class="checkmark"></span>
    </label>
  </li>
</ul>