<div class="filter-heading">
  <span class="shide">Chef's </span>Minimum Order</a>
</div>
<ul class="nav nav-list">
  <li>
    <div class="checkbox" name="">
      <label for="" class="checkbox1">
        <input type="radio" class="" name="min_amount" checked>
        All
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox" name="">
      <label for="" class="checkbox1">
        <input type="radio" class="" name="min_amount">
        Less than 200k
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox" name="">
      <label for="" class="checkbox1">
        <input type="radio" class="" name="min_amount">
        Less than 500k
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox" name="">
      <label for="" class="checkbox1">
        <input type="radio" class="" name="min_amount">
        Less than 1tr
      </label>
    </div>
  </li>
</ul>