<div class="filter-heading ">
  Chef Rating
</div>
<ul class="nav nav-list search_star">
  <li>
    <ul class="star-filter" id="1" onclick="activeStar1(this)">
      <li class="fill_star">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li class="fill_star">
        <i class="fa fa-star-o fa-fw"></i>
      </li>
      <li class="fill_star">
        <i class="fa fa-star-o fa-fw"></i>
      </li>
      <li class="fill_star ">
        <i class="fa fa-star-o fa-fw"></i>
      </li>
      <li class="fill_star ">
        <i class="fa fa-star-o fa-fw"></i>
      </li>
    </ul>  
  </li>

  <br></br>

  <li>
    <ul class="star-filter" id="2" onclick="activeStar2(this)">
      <li class="fill_star">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li class="fill_star">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li class="fill_star">
        <i class="fa fa-star-o fa-fw"></i>
      </li>
      <li class="fill_star ">
        <i class="fa fa-star-o fa-fw"></i>
      </li>
      <li class="fill_star ">
        <i class="fa fa-star-o fa-fw"></i>
      </li>
    </ul>  
  </li>

  <br></br>


  <li>
    <ul class="star-filter" id="3" onclick="activeStar3(this)">
      <li class="fill_star">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li class="fill_star">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li class="fill_star">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li class="fill_star ">
        <i class="fa fa-star-o fa-fw"></i>
      </li>
      <li class="fill_star ">
        <i class="fa fa-star-o fa-fw"></i>
      </li>
    </ul>
  </li>

  <br></br>
  <li>
    <ul class="star-filter" id="4" onclick="activeStar4(this)">
      <li class="fill_star">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li class="fill_star">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li class="fill_star">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li class="fill_star ">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li class="fill_star ">
        <i class="fa fa-star-o fa-fw"></i>
      </li>
    </ul>
  </li>

  <br></br>
  
  <li>
    
    <ul class="star-filter" id="5" onclick="activeStar5(this)">
      <li class="fill_star">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li class="fill_star">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li class="fill_star">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li class="fill_star ">
        <i class="fa fa-star fa-fw"></i>
      </li>
      <li class="fill_star ">
        <i class="fa fa-star fa-fw"></i>
      </li>
    </ul>    
  </li>

</ul>

