<div class="filter-heading">
  Chef Rating
</div>
<ul class="star-filter">
  <li class="fill_star">
    <i class="fa fa-star-o fa-fw"></i>
  </li>
  <li class="fill_star">
    <i class="fa fa-star-o fa-fw"></i>
  </li>
  <li class="fill_star">
    <i class="fa fa-star-o fa-fw"></i>
  </li>
  <li class="fill_star ">
    <i class="fa fa-star-o fa-fw"></i>
  </li>
  <li class="fill_star ">
    <i class="fa fa-star-o fa-fw"></i>
  </li>
</ul>
<br></br>
<ul class="star-filter">
  <li class="fill_star">
    <i class="fa fa-star fa-fw"></i>
  </li>
  <li class="fill_star">
    <i class="fa fa-star-o fa-fw"></i>
  </li>
  <li class="fill_star">
    <i class="fa fa-star-o fa-fw"></i>
  </li>
  <li class="fill_star ">
    <i class="fa fa-star-o fa-fw"></i>
  </li>
  <li class="fill_star ">
    <i class="fa fa-star-o fa-fw"></i>
  </li>
</ul>
<br></br>
<ul class="star-filter">
  <li class="fill_star">
    <i class="fa fa-star fa-fw"></i>
  </li>
  <li class="fill_star">
    <i class="fa fa-star fa-fw"></i>
  </li>
  <li class="fill_star">
    <i class="fa fa-star-o fa-fw"></i>
  </li>
  <li class="fill_star ">
    <i class="fa fa-star-o fa-fw"></i>
  </li>
  <li class="fill_star ">
    <i class="fa fa-star-o fa-fw"></i>
  </li>
</ul>
<br></br>
<ul class="star-filter">
  <li class="fill_star">
    <i class="fa fa-star fa-fw"></i>
  </li>
  <li class="fill_star">
    <i class="fa fa-star fa-fw"></i>
  </li>
  <li class="fill_star">
    <i class="fa fa-star fa-fw"></i>
  </li>
  <li class="fill_star ">
    <i class="fa fa-star-o fa-fw"></i>
  </li>
  <li class="fill_star ">
    <i class="fa fa-star-o fa-fw"></i>
  </li>
</ul>
<br></br>
<ul class="star-filter">
  <li class="fill_star">
    <i class="fa fa-star fa-fw"></i>
  </li>
  <li class="fill_star">
    <i class="fa fa-star fa-fw"></i>
  </li>
  <li class="fill_star">
    <i class="fa fa-star fa-fw"></i>
  </li>
  <li class="fill_star ">
    <i class="fa fa-star fa-fw"></i>
  </li>
  <li class="fill_star ">
    <i class="fa fa-star fa-fw"></i>
  </li>
</ul>