<div class="filter-heading">
  Delivery Time
</div>
<ul class="nav nav-list">
  <li>
    <div class="checkbox" name="">
      <label for="" class="checkbox1">
        <input type="radio" class="" name="order_before" checked>
        All
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox" name="">
      <label for="" class="checkbox1">
        <input type="radio" class="" name="order_before">
        Within 2 hours
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox" name="">
      <label for="" class="checkbox1">
        <input type="radio" class="" name="order_before">
        Less Than 6 hours
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox" name="">
      <label for="" class="checkbox1">
        <input type="radio" class="" name="order_before">
        Less Than 12 hours
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox" name="">
      <label for="" class="checkbox1">
        <input type="radio" class="" name="order_before">
        Less Than 24 hours
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox" name="">
      <label for="" class="checkbox1">
        <input type="radio" class="" name="order_before">
        More Than 1 days
      </label>
    </div>
  </li>
</ul>