 <div class="filter-heading">
  Type Restaurant
</div>
<ul id="filter-checkbox" class="nav nav-list">
  <% if @categories %>
  <% @categories.each do | cate| %>
  <li>
    <label class="container"><%= cate.name%>
      <input type="checkbox" name="<%= cate.slug_cate%>" value="<%= cate.slug_cate%>" class="common-type" onclick="handleClickCheckbox(this)">
      <span class="checkmark"></span>
    </label>
  </li>
  <% end %>
  <% end %>
</ul>
