<div class="filter-heading">
  Veg/Non-Veg
</div>
<ul id="filter-radio" class="nav nav-list">
  <li>
    <div class="checkbox" name="">
      <label class="container">Vegetarian
        <input type="radio" name="meal_type" class="meal_type" value="veget" onclick="handleClickCheckbox(this)">
        <span class="checkmark"></span>
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox" name="">
      <label class="container">Non-Vegetarian
        <input type="radio" name="meal_type" class="meal_type" value="non-veget" onclick="handleClickCheckbox(this)">
        <span class="checkmark"></span>
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox" name="">
      <label class="container">Both
        <input type="radio" name="meal_type" class="meal_type" checked="checked"  value="both" onclick="handleClickCheckbox(this)">
        <span class="checkmark"></span>
      </label>
    </div>
  </li>
</ul>