<div class="filter-heading">
  Veg/Non-Veg
</div>
<ul class="nav nav-list">
  <li>
    <div class="checkbox">
      <label for="" class="checkbox1">
        <input type="radio" class="" name="meal_type">
        Vegetarian
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox">
      <label for="" class="checkbox1">
        <input type="radio" class="" name="meal_type">
        Non-Vegetarian
      </label>
    </div>
  </li>
  <li>
    <div class="checkbox">
      <label for="" class="checkbox1">
        <input type="radio" class="" name="meal_type" checked>
        Both
      </label>
    </div>
  </li>
</ul>