<ul class="nav navbar-nav nav-narrow">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t(".resources") %></a>
    <ul class="dropdown-menu">
      <li><%= link_to t(".about") %></li>      
      <li class="divider"></li>
      <li><%= link_to t(".contact"), locale: "vi" %></li>
      <li class="divider"></li>
      <li><%= link_to t(".service"), locale: "ja" %></li>
    </ul>
  </li>
</ul>