<div id="wrapper-content" class="bottom-bar">
  <div class="content">
    <%= yield %>
  </div>
  <div id="bottom-wrapper-bar">
    <small>CreateS © 2018 - 
      <a target="_blank" href="#">Terms &amp; Conditions
      </a>
    </small>
  </div>
</div>
