<div class="container above-also">
  <div class="content-heading" style="min-height: 500px;">
    <h4>Editing Booking</h4>

    <%= render 'form', booking: @booking %>

    <%= link_to 'Show', @booking %> |
    <%= link_to 'Back', bookings_path %>
  </div>
</div>
