<div class="main-location">
  <div class="container above-also">
    <div class="content-heading">
      <h1></h1>

      <%= render 'form', booking: @booking %>

      <%= link_to 'Back', bookings_path %>
    </div>
  </div>
</div>