<div class="main-location">
  <div class="content-heading" style="min-height: 700px;">
  <h1></h1>

    <%= render 'form', booking: @booking %>

    <%= link_to 'Back', bookings_path %>
  </div>
</div>