 <div class="new-rate-container" value=<%=default_value%>> 
  <div class="rating-stars text-center">
      <ul id="stars">
        <li class="star" title="Poor" data-value="1">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star" title="Fair" data-value="2">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star" title="Good" data-value="3">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star" title="Excellent" data-value="4">
          <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star" title="Perfect" data-value="5">
          <i class="fa fa-star fa-fw"></i>
        </li>
      </ul>
  </div>
</div>
