<div id="hp-header" class="page-section">
  <div class="page-section-body">
    <div class="title">
      <h1 class="">Get Access To An Impressive List Of </h1>
      <p class="big_boot">We Are Always Adding Updates & New Features Based On Customer Feedback</p>
    </div>
    <div class="image">
      <%= image_tag("hero-restaurant-shopping-w-700.png") %>
    </div>
  </div>
</div>


