<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center"> Liên hệ với chúng tôi  </h2>
      <br>
      <form method="POST" action="http://www.pikasmart.com/contact" accept-charset="UTF-8" class="form"><input name="_token" type="hidden" value="zXW54bHvwr1iTkRpv1LBjzrmXU7uGTXTHUQWEv8G">
        <input type="hidden" name="_token" value="zXW54bHvwr1iTkRpv1LBjzrmXU7uGTXTHUQWEv8G">
        <div class="form-group">
          <label for="Họ và tên ">Họ Và Tên </label>
          <input required="required" class="form-control" placeholder="Họ tên" name="name" type="text">
        </div>
        <div class="form-group">
          <label for="E-mail ">E-mail </label>
          <input required="required" class="form-control" placeholder="Email" name="email" type="text">
        </div>
        <div class="form-group">
          <label for="Tin nhắn ">Tin Nhắn </label>
          <textarea required="required" class="form-control" placeholder="Tin nhắn " name="message" cols="50" rows="10"></textarea>
        </div>
        <div class="form-group">
        </div>
      </form>
    </div>
  </div>
</div>