<div class="container page-section">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="text-center"> Liên hệ với chúng tôi</h2>
      <br>
      <form method="POST" action="http://www.pikasmart.com/contact" accept-charset="UTF-8" class="form-horizontal"><input name="_token" type="hidden" value="zXW54bHvwr1iTkRpv1LBjzrmXU7uGTXTHUQWEv8G">
        <input type="hidden" name="_token" value="zXW54bHvwr1iTkRpv1LBjzrmXU7uGTXTHUQWEv8G">
        <div class="form-group">
          <div class="col-md-3">
            <label for="Họ và tên ">Họ Và Tên </label>
          </div>
          <div class="col-md-9">
            <input required="required" class="form-control" placeholder="Họ tên" name="name" type="text">
          </div>
        </div>
        <div class="form-group">
        <div class="col-md-3">
            <label for="E-mail ">E-mail </label>
        </div>
        <div class="col-md-9">
          <input required="required" class="form-control" placeholder="Email" name="email" type="text">
        </div>
        </div>
        <div class="form-group">
          <div class="col-md-3">
            <label for="Tin nhắn ">Tin Nhắn </label>
          </div>
          <div class="col-md-9">
            <textarea required="required" class="form-control" placeholder="Tin nhắn " name="message" cols="50" rows="10"></textarea>
          </div>
        </div>
        <div class="form-group">
        <div class="col-md-3"></div>
            <div class="col-md-9 button-store"><button class="btn btn-primary">Send</div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div id="hp-header" class="page-section">
    <div class="page-section-body">
      <div class="title">
        <h1 class="">Favorite List List</h1>
        <p class="big_boot">Setup your online ordering website in 30 minutes, start accepting orders today &amp; pay only a fraction of the cost</p>
        <button class="button underline-button">Create Your Website Now</button>
      </div>
    </div>
  </div>
</div>

<div class="container page-section">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://placehold.it/350x222" alt="">
        <div class="caption">
          <h4 class="pull-right">$24.99</h4>
          <h4><a href="#">First Product</a></h4>
          <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">15 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://placehold.it/350x222" alt="">
        <div class="caption">
          <h4 class="pull-right">$24.99</h4>
          <h4><a href="#">First Product</a></h4>
          <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">15 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <img src="http://placehold.it/350x222" alt="">
        <div class="caption">
          <h4 class="pull-right">$24.99</h4>
          <h4><a href="#">First Product</a></h4>
          <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">15 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>