<div id="hp-header" class="page-section">
  <div class="page-section-body">
    <div class="title">
      <h1 class="">Pricing </h1>
      <p class="big_boot">Every plan includes all features and unlimited locations</p>
      <small class="">All prices are in USD</small>
    </div>
    <div class="row prices-contain">
      <div class="col-md-4">
        <div class="pricing-plan-wrapper">
          <div class="pricing-plan">
            <div class="plan-name">Free</div>
            <div class="plan-price">
              <span class="big">$0</span>
              <span class="block small m-t-2">monthly</span>
            </div>
            <div class="plan-details">
              <div class="plan-detail">
                <p><i class="fa fa-cubes"></i></p>
                <p><span>Ordering Disabled</span></p>
              </div>
              <div class="plan-detail">
                <p><i class="fa fa-cube"></i></p>
                <p><span>Website Only Mode</span></p>
              </div>
              <div class="plan-detail">
                <p><i class="fa fa-hourglass-end"></i></p>
                <p><span>No Trial</span></p>
              </div>
            </div>
            <div class="text-center m-t-3">
              <button class="button formButton">Get Started</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pricing-plan-wrapper">
          <div class="pricing-plan">
            <div class="plan-name">Basic</div>
            <div class="plan-price">
              <span class="big">$0</span>
              <span class="block small m-t-2">monthly</span>
            </div>
            <div class="plan-details">
              <div class="plan-detail">
                <p><i class="fa fa-cubes"></i></p>
                <p><span>Ordering Disabled</span></p>
              </div>
              <div class="plan-detail">
                <p><i class="fa fa-cube"></i></p>
                <p><span>Website Only Mode</span></p>
              </div>
              <div class="plan-detail">
                <p><i class="fa fa-hourglass-end"></i></p>
                <p><span>No Trial</span></p>
              </div>
            </div>
            <div class="text-center m-t-3">
              <button class="button  formButton light">Get Started</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="pricing-plan-wrapper">
          <div class="pricing-plan">
            <div class="plan-name">PLATINUM</div>
            <div class="plan-price">
              <span class="big">$0</span>
              <span class="block small m-t-2">monthly</span>
            </div>
            <div class="plan-details">
              <div class="plan-detail">
                <p><i class="fa fa-cubes"></i></p>
                <p><span>Ordering Disabled</span></p>
              </div>
              <div class="plan-detail">
                <p><i class="fa fa-cube"></i></p>
                <p><span>Website Only Mode</span></p>
              </div>
              <div class="plan-detail">
                <p><i class="fa fa-hourglass-end"></i></p>
                <p><span>No Trial</span></p>
              </div>
            </div>
            <div class="text-center m-t-3">
              <button class="button  formButton">Get Started</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="hp-header" class="page-section">
  <div class="page-section-body">
    <div class="row">
      <div class="col-md-6">
        <h3 class="border-bottom light" data-reactid="262">Do I need a credit-card?</h3>
        <p>You do not need a credit card when signing up for a free or paid plan. If you have a paid plan, you will need to enter your credit card details before your trial expires to continue uninterrupted usage of CloudWaitress. Contact us if you prefer a different payment method.</p>
      </div>
            <div class="col-md-6">
        <h3 class="border-bottom light" data-reactid="262">Do I need a credit-card?</h3>
        <p>You do not need a credit card when signing up for a free or paid plan. If you have a paid plan, you will need to enter your credit card details before your trial expires to continue uninterrupted usage of CloudWaitress. Contact us if you prefer a different payment method.</p>
      </div>
            <div class="col-md-6">
        <h3 class="border-bottom light" data-reactid="262">Do I need a credit-card?</h3>
        <p>You do not need a credit card when signing up for a free or paid plan. If you have a paid plan, you will need to enter your credit card details before your trial expires to continue uninterrupted usage of CloudWaitress. Contact us if you prefer a different payment method.</p>
      </div>
            <div class="col-md-6">
        <h3 class="border-bottom light" data-reactid="262">Do I need a credit-card?</h3>
        <p>You do not need a credit card when signing up for a free or paid plan. If you have a paid plan, you will need to enter your credit card details before your trial expires to continue uninterrupted usage of CloudWaitress. Contact us if you prefer a different payment method.</p>
      </div>
            <div class="col-md-6">
        <h3 class="border-bottom light" data-reactid="262">Do I need a credit-card?</h3>
        <p>You do not need a credit card when signing up for a free or paid plan. If you have a paid plan, you will need to enter your credit card details before your trial expires to continue uninterrupted usage of CloudWaitress. Contact us if you prefer a different payment method.</p>
      </div>
    </div>
  </div>
</div>

