<div id="hp-header" class="page-section">
  <div class="page-section-body">
    <div class="title">
      <h1 class="">Online Ordering System For Restaurants</h1>
      <p class="big_boot">Setup your online ordering website in 30 minutes, start accepting orders today &amp; pay only a fraction of the cost</p>
      <button class="button underline-button">Create Your Website Now</button>
    </div>
    <div class="image">
      <%= image_tag("apple-touch-icon.png") %>
    </div>
  </div>
</div>
<div id="hp-next" class="page-section">
  <div class="page-section-body">
    <div class="row">
      <div class="col-md-6">
        <div class="image">
          <%= image_tag("example-online-stores.png") %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contain-body">
          <h2 class="">Your Online Ordering Website</h2>
          <p class="" data-reactid="78">Create your own fully branded online ordering website for your restaurant. Showcase your menus and impress your customers with our modern and mobile friendly design</p>
        </div>
      </div>
    </div>
  </div>
</div>
