<div class="location-put">
  <%= form_for :term, url: search_path, method: :get do |form| %>
  <%= text_field_tag :term, params[:term],class: "search-box-input",placeholder: "Search for chef by name or dish..." %>
  <% end %>
</div>
<div class="show-search">
  <% if @dishes %>
  <% @dishes.each do |post| %>
  <div class="left-panel" style="width: 625px; margin-left: 0px;">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-12">
          <div class="icerik-bilgi">
            <a href="#"><h2> <%= link_to post.name, "#" %></h2></a>
            <p> <%= post.display_name %> </p>
            <div class="btn-group">
              <a class="btn btn-social btn-facebook" href="#" data-toggle="tooltip" title="Share Facebook"><i class="fa fa-facebook"></i></a>
              <a class="btn btn-social btn-twitter" href="#" data-toggle="tooltip" title="Share Twitter"><i class="fa fa-twitter"></i></a>
              <a class="btn btn-social btn-google" href="#" data-toggle="tooltip" title="Share Google"><i class="fa fa-google"></i></a>
            </div>
            <a href="#">
              <button type="button" class="btn btn-primary">
                <span class="btn btn-google">View More </span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% else %>
  <p>Your search did not match any documents.</p>
  <% end %>
</div>
</div>
