#page-home-index{
  .category-home{
    margin-top: 50px;
  }
  img{
    width: 200px;
    height: 150px;
  }
  h2{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color:#8888;
  }
}
.our-clients-carousel{
  h2 {
    font-weight: 400;
    color: #8888;
    padding-bottom: 2.3em;
    line-height: 1.5em;
    text-align:center;
    font-style: inherit;
  }
}