#store-panel{
  // menu left
  #left-navbar{
    width: 250px;
    left: 0px;
    top: 0px;
    transform: translateX(0px);
    p{
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
    .navbar-header{
      margin: 0;
      width:100%;
      cursor: default;
      font-size: 14px;
      font-weight: 300;
      line-height: 14px;
      letter-spacing: 1px;
      p{
        font-size: 14px;
        line-height: 20px;
      }
    }
    .navbar-links{
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      .box-login-store{
        padding:22px 50px;
        overflow: hidden!important;
        display: -webkit-box;
        .text-center {
          text-align: center !important;
        }
        .box-status-user{
          margin-left: 15px !important;
          .username{
            margin-top: 0px !important;  
          }
          i{
            color: #34d61e;
          }
        }
      }

      
      ul{
        margin: 0;
        padding: 0;
        font-size: 100%;
        // display: block;
        list-style-type: none;
        .sub-category{
          background: #ededed none repeat scroll 0 0;
          li{
            .checkbox{
              margin-left:70px;
            }
            span{
              margin-left:30px;
            }

          }
        }
        li {
          display: list-item;
          text-align: -webkit-match-parent;
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;
          position: relative;
          font-weight: 300;
          border-bottom: 1px solid hsla(0,0%,100%,.1);
          cursor: pointer;
          .collapsed-primary{
            font-size:15px;
            font-weight:700;
          }
          a {
            cursor: pointer;
            display: block;
            font-size: 13px;
            letter-spacing: 1px;
            color: #03A9F4;
            padding: 12px 20px;
            -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out;
            text-decoration: none;
            i {
              width: 20px;
              color: #03A9F4;
              margin-right: 8px;
            }
            .fa{
              display: inline-block;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
            }
            .dropdown-arrow{
              color: #f6f6f6;
              position: absolute;
              top: 16px;
              right: 16px;
              font-size: 12px;
              margin: 0;
              width: 10px;
            }
            .dropdown-food{
              visibility: hidden;
              height:0px;
            }
          }
          a:hover {
            border-left: 3px solid #00BCD4;
          }
          a.active{
            background-color: #fff;
            border-left: 3px solid #00BCD4;
          }
        }
      }
      .tab-menu{
        margin-top: 20px!important;
        margin-bottom: 20px!important;
      }
      .check-store, .support-store{
        margin-bottom: 20px!important;
        padding-left: 20px!important;
        padding-right: 20px!important;
        .button-store{
          display: block;
          width: 100%;
          padding: 0;
          color: #fff;
          letter-spacing: 1px;
          border: none;
          font-size: 14px;
          height: 38px;
          line-height: 38px;
          border-radius: 5px;
          text-align: center!important;
        }
        #yourstore{
          background-color: #3cbaf5;
        }
        #supportstore{
          border: 1px solid #c7c7c7!important;
          color: #bd363b
        }

      }

    }
  }
  // edit sidebar
  .sidebar-admin{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    color: #2F4F4F;
    overflow: auto;
    will-change: transform;
    box-shadow: 0 1.5px 4px rgba(0,0,0,.24), 0 1.5px 6px rgba(0,0,0,.12);
  }
  .sidebar-admin::-webkit-scrollbar {
    width: 6px;
  }
  .sidebar-admin::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: hsla(0,0%,82%,.62);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
  }
  .sidebar-admin::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  }
  .dropdown-food{
    visibility: hidden;
    height:0px;
  }
}