.main-location{
  margin-top: 30px;
  min-height: 700px;
  .address-location{
    margin-top: 50px;
    width: 100%;
  }
  .content-heading{
    background-color:#FFF;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    padding: 10px 25px;
    .item {
      float:left;
      font-size: 14px;
      padding-right: 10px;
      margin-left:30px;
      i{
        margin-right:10px;
      }
    }
  }
  #delivery-opening{
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0;
    height:40px;
  }

  .store-owner{
    height:260px;
    position: relative;
    background-image:url('/assets/chef-header-banner.png');
    color:#fff;
    img{
      max-width: 100%;
      height:100%
    }

  }
  .store-owner-details{
    position:absolute;
    width:100%;
    .chef-pro-wparrer{
      float: left;
      position: relative;
      text-align:center;
      .chef-pro-con{
        img{
          margin-top: 10px;
          border-radius: 100%;
          height: 150px;
          width: 150px;  
        }
      }
    }
    .chef-detail-wrapper {
      text-align: left;
      float: left;
      padding-left: 30px;
      .leftmove{
        margin-bottom: 50px;
        span.review-con{
          .rate_avg{
            color: yellow;
          }
          .result-rate{
            float:left; margin:0px 0px 0px 10px; cursor:pointer;  
          }
        } 
      }
      ul{
        li {
          display: inline-block;
          a {
            text-decoration: none;
            border: 2px solid rgba(255, 255, 255, .7);
            border-radius: 4px;
            color: #fff;
            display: block;
            margin-right: 11px;
            padding: 11px 22px;
            position: relative;
            i{
              padding-right: 10px;
            }
          }
          a:hover{
            background-color: #03A9F4;
            border-color: #03A9F4
          }
        }
      } 
    }
  }
  .card{
    .nav-tabs{
      background: #FFF;
      .active{
        border-bottom: 2px solid #03A9F4; 
        border-top: none;
        border-left: none;
        border-right: none;
        a{
          color: #03A9F4 !important;
        }
      }
      .tab-head{
        min-width:100px;
        text-align:center;
        a{
          border-top: none;
          border-left: none;
          border-right: none;
          color: grey;
          text-decoration: none;
        }

      }
    }
    .cart-tabs{
      border-bottom: 2px solid #03A9F4;
      margin-top:20px;
      .item{
        float:right;
        p{
          color: #a7a9ac;
          padding: 10px 0px;
        }
      }
      .checkout{
        float:right;
        a{
          color: #03A9F4;
        }
      }

    }
  }
  .tab-content{
    background-color:#FFF;
    margin-top:20px;
    .st-headings {
      padding: 12px 30px 12px 40px;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      font-weight:400;
      color:#777777;
      height: 52px;
      .st-heading{ 
        float:left;
      }
      .st-heading-right{
        float:right;
      }
    }
    .table{
      margin:20px;
    }
    .dish-box{
      height:150px;
      .dish-image{
        float:left;
        img{
          width:150px;
          height:100px;
          margin:25px;
        }
      }
      .dish-detail-box{
        float:left;
        h2{
          margin-top:20px;
          color: #202020;
          font-size: 14px;
          font-weight: 400;
        }
        p{
          color: #989fa6;
        }
      }
      .btn-md{
        margin-top:30px;
        border: 1px solid #03A9F4;
        border-radius: 6px;
        color: #03A9F4;
        height: 27px;
        text-align: center;
        width: 80px;
        background: #fff;
      }

    }
    .botborder {
      border-bottom: 1px dashed #e6e6fa;
      clear: both;
      padding-top: 12px;
    }
    .recomd_detail{
      ul{
        list-style-type: none;
        li {
          color: #989fa6;
          display: inline-block;
          list-style-type: none;
          margin-right: 30px;
          i,.dv2,.dv3{
            float:left;
            margin-left:10px;
          }
          .dv3{
            color:#000;
          }
        }
      }
    }
    .box-header{
      padding:20px;
    }
  }
}
#photos{
  img{
    margin: 10px;
    width:130px;
    height:90px;
  }
}