#main-store{
  position: relative;
  min-height: 1000px;
  background: #f2f2f2;
  /*----------------------------------------------
  Top navbar
  ------------------------------------------*/
  #top-navbar{
    background: #fff;
    height: 70px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    .topbar-inner{
      margin-top:10px;
    }
    .topbar-inner{
      margin-right: 0px;
      padding: 0 22px;
      a{
        color:#777 !important;
        background:#fff;
      }
      a:hover{
        i{
          color: #03A9F4;
        }
      }
      .dropdown{
        height:60px !important;
        .dropdown-menu{
          width: 80px !important;
          text-align: center;
          a{
            padding-top:10px;
            color:#777 !important;
            i{
              color:#777;
            }
          }
          a:hover{
            color:#03A9F4;
            padding-top:10px;
            border-bottom: 3px solid #03A9F4;
            span{
              color:#03A9F4;
            }
            i{
              color:#03A9F4;
            }
          }
        }
      }
      .hdcart {
        position: relative;
        font-size:13px;
        .hdrcart-icons {

          display: inline-block;
          background-position: -10px -646px;
        }
      }
      .navbar-left{
        ul{
          li{
            float:left;
          }
        }
      }

    }
    #num-cart {
      position: absolute;
      top: 6px;
      background-color: #03A9F4;
      border-radius: 4px;
      color: #fff;
      font-size: 11px;
      left: 37px;
      line-height: 11px;
      padding: 4px;
    }
    #num-notfiy{
      position: absolute;
      top: 6px;
      background-color: #03A9F4;
      border-radius: 4px;
      color: #fff;
      font-size: 11px;
      left: 35px;
      line-height: 11px;
      padding: 4px;
    }
    .launchConfirm{
      border-radius: 3px;
      color: #fff;
      display: block;
      font-size: 12px;
      padding: 8px 13px;
      text-transform: uppercase;
      background: #03A9F4;
      margin-top: 10px;
    }
    #admin-ac{
      height:52px;
    }
    #logo-store{
      margin-top:10px;
      img{
        width:60px;
        height:60px;
      }
      a{
        float:right;
      }
      #brand{
        font-size:30px;
        span{
          color:#03A9F4;
        }  
        color: #000;

      }
    }
  }
  .above-also{
    margin-top:70px;
  }
  .background-fff{
    background:#fff;
  }
  /*----------------------------------------------
  Banner-section
  ------------------------------------------*/
  .container-fluid{
    padding:0;
    margin-top: 70px;
  }
  .carousel-caption{
    bottom: 50px;
    padding-bottom: 30px;
    text-align: left;
    text-shadow: none;
  }
  .carousel-caption h1{
    color:#ffffff;
    line-height: 1.2;
    text-transform: uppercase;
  }
  .carousel-caption p{
    color:#ffffff;
  }

  .carousel-indicators li {
    width: 4px;
    height: 4px;
    background: #ffffff;
  }
  .carousel-indicators .active {
    width: 6px;
    height: 6px;
    background: #FDC312;
    border:1px solid #FDC312;
  }
  .carousel-inner{
    .active,.item{
      text-decoration:center;
    }
  }


  #myCarousel{
    margin-top: 70px;
  }
  .page-section:first-child {
    padding: 60px 0px;
  }
  .page-section{
    background-color:#fff;
    .page-section-body {
      max-width: 1260px;
      margin: 0 auto;
      text-align:center;
    }
    #hp-header{
      .title{
        text-align: center;
        margin: 0px 0 40px 0;
      }
    }
    #hp-next{
      background-color:#e6e6e6;
      padding: 60px 20px;
    }
    #hp-header .title h1 {
      font-weight: 600;
    }
    .page-section-body h2,p{
      color: #404453;
    }
    .contain-body{
      padding:50px 40px 40px 50px;
    }
    .page-section-body{
      .title{
        .button.underline-button{
          background: transparent;
          color: #03A9F4;
          border: none;
          border-bottom: 2px solid #03A9F4;
          font-weight: 600;
          font-size: 16px;
          line-height: 38px;
          padding: 0 15px;
        }
        .big_boot{
          font-size: 20px;
          line-height: 32px;
        }  
      }
      img{
        width: 100%;
      }
      /* css in FAQ */
      .prices-contain{
        background-color:#404453;
        .pricing-plan-wrapper{
          padding:30px;
          max-width: 400px;
          margin: auto;
          text-align: center;
          .pricing-plan{
            border-radius: 5px;
            border: 1px solid rgba(0,0,0,0.05);
            padding: 30px;
            color:#404453;
            background-color:#ffff;
            .plan-name{
              color:#404453;
              font-size: 16px;
              font-weight: 600; 
              text-transform: uppercase;
              font-family: "Roboto",sans-serif;    
            }
            .big{
              font-size: 32px;
              font-family: "Roboto",sans-serif;
            }
            .block {
              display: block;
            }
            p{
              color:#404453;
            }
          }
        }
      }
      .border-bottom.light {
        border-bottom: 1px solid #d9d9d9;
      }
    }
  }
  @media(min-width: 768px) and (max-width: 1199px){
    .carousel-caption{
      bottom:1em;
    }
    .carousel-caption h1 {
      font-size:1.5rem;
    }
    .carousel-caption p {
      margin:0;
    }
    .carousel-caption a {
      margin-top:7px;
      padding:0 8px;
    }
    .carousel-indicators {
      bottom: 0px;
    }
  }
  /*----------------------------------------------
  Search page
  ------------------------------------------*/

  .search-food{
    width:100%;
    text-align:center;
    margin-top: 50px;
    margin-bottom: 20px;
    .search-con {
      border: 10px solid #f2f2f2;
      border-radius: 0 5px 5px 0;
      margin: 0 auto;
      position: relative;
      width: 800px;
      height:78px;
      #seach-form{
        ul{
          position:relative;
          list-style-type: none;
          margin:0 auto;
          padding:0 auto;
          li:first-child {
            border: medium none;
            margin-bottom: 0;
            padding-right: 215px;
            width: 100%;
          }
          li.location{
            position: relative;
            input[type="text"] {
              font-family: arial;
              height: 57px;
              display: block;
              font-size: 19px;
              font-weight: 700;
              height: 54px;
              padding-left: 25px!important;
              width: 100%;
              border:none;
            }
            input:focus{
              outline: none;
            }
          }
          li {
            border-bottom: 1px solid #e6e6e6;
            border-top: 1px solid #e6e6e6;
            float: left;
            height: 57px;
            vertical-align: top;
          }
          .loction_bkg {
            background: #f2f2f2;
            position: absolute;
            top: -10px;
            left: 0%;
            width: 50px;
            height: 77px !important;
            border-radius: 5px 0 0 5px;
            border: none !important;
            button{
              background-color:#f2f2f2;
            }
            .location_get_icon{
              width: 23px;
              height: 23px;
              position: absolute;
              top: 35%;
              left: 30%;
            }
          }
          li.submit-search-btn{
            position: absolute;
            right: 0;
            top: 0;
            width: 209px;
            border: medium none;
          }
          li:last-child button[type="submit"] {
            background: #3cbaf5 none repeat scroll 0 0;
            color: #fff;
            font-size: 19px;
            font-weight: 600;
            margin-left: 0;
            text-transform: none;
            width: 210px;
            height: 57px;
            border:none;

          }
        }
      }
    }

  }
  .message-content{
    height:50px;
  }
}
/*----------------------------------------------
Footer
------------------------------------------*/
#bottom-wrapper-bar {
  left: 220px;
}
#bottom-wrapper-bar {
  margin-top:50px;
  padding:15px;
  bottom: 0;
  right: 0;
  z-index: 0;
  line-height: 30px;
  background: #333;
  color: #fff;
  ul{
    margin-left: -37px;
  }
  a{
    color: #aaa;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 100;
    text-decoration: none;
  }
  a:hover{
    color: #fff;
  }
  .footer-txt2 {
    font-family: iCielSimplifica;
    font-size: 40px;
    color: #fff;
  }
  .txt-copyright{
    text-align: center;
    font-size: 14px;
    color: #fff;
  }
}
.content-heading{
  margin-top:10px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  padding: 10px 25px;
  background:#fff;
}