#main-store{
  margin-left: 250px;
  position: relative;
  #top-navbar{
    background: #fff;
    height: 52px;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    .topbar-inner{
      margin-right: 0px;
      padding: 0 22px;
      .navbar-header{
        .navbar-nav{
          .navbar-nav{
            .navbar-right{
              li a{
                padding-top:10px;
              }
              li a:hover{
                height:50px;
                padding-top:10px;
              }
            }
          }
        }
      }
    }
    #admin-ac{
      height:52px;
    }
    span{
      color: black;
    }
  }
  .page-section:first-child {
    padding: 60px 20px;
  }
  .page-section{
    margin-top: 50px;
    .page-section-body {
      max-width: 1260px;
      margin: 0 auto;
      text-align:center;
    }
    #hp-header{
      .title{
        text-align: center;
        margin: 0px 0 40px 0;
      }
    }
    #hp-next{
      background-color:#e6e6e6;
      padding: 60px 20px;
    }
    #hp-header .title h1 {
      font-weight: 600;
    }
    .page-section-body h2,p{
      color: #404453;
    }
    .contain-body{
      padding:50px 40px 40px 50px;
    }
    .page-section-body{
      .title{
        .button.underline-button{
          background: transparent;
          color: #03A9F4;
          border: none;
          border-bottom: 2px solid #03A9F4;
          font-weight: 600;
          font-size: 16px;
          line-height: 38px;
          padding: 0 15px;
        }
        .big_boot{
          font-size: 20px;
          line-height: 32px;
        }  
      }
      img{
        width: 100%;
      }
      /* css in FAQ */
      .prices-contain{
        background-color:#404453;
        .pricing-plan-wrapper{
          padding:30px;
          max-width: 400px;
          margin: auto;
          text-align: center;
          .pricing-plan{
            border-radius: 5px;
            border: 1px solid rgba(0,0,0,0.05);
            padding: 30px;
            color:#404453;
            background-color:#ffff;
            .plan-name{
              color:#404453;
              font-size: 16px;
              font-weight: 600; 
              text-transform: uppercase;
              font-family: "Roboto",sans-serif;    
            }
            .big{
              font-size: 32px;
              font-family: "Roboto",sans-serif;
            }
            .block {
              display: block;
            }
            p{
              color:#404453;
            }
          }
        }
      }
      .border-bottom.light {
        border-bottom: 1px solid #d9d9d9;
      }
    }
  }
}