/* SEARCH */
.location-put {
  width: 625px;
  position: relative;
  margin-right: 0px;
  margin-top: 30px;
  margin-bottom: 40px;
  background:#fff;
  input{
    padding: 10px 10px 10px 40px;
    color: #797979;
    border: 1px solid #dde1e7;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    height: 49px;
    padding: 2rem;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
    width: 100%;
  }
  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px #ddd;
    border: 1px solid #ddd;
  }
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    border: 1px solid #dde1e7;
    background-color: #fff;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
}


/* PANEL */
// .left-panel .panel-default{border-bottom-left-radius:7px; border-bottom-right-radius:7px; border-bottom:2px #DDD solid;}
// .left-panel .panel-default .panel-body {padding:0; margin:0;}
// .left-panel .panel-default .panel-body .col-md-12{margin:0; padding:0;}
// .left-panel .panel-default .panel-body .thumbnail{border:none; margin:0; padding:0; position:relative;}
// .left-panel .panel:hover img {opacity:.8;}
// .left-panel .panel-default .panel-body .locat-details-search{margin:30px;}
// .locat-details-search .btn-primary{float:right; margin-bottom:30px;}
// .locat-details-search h2{margin-bottom:30px; color:#333;}
// .locat-details-search h2:hover{color:#E74C3C; text-decoration:none;}
// .locat-details-search a:hover{text-decoration:none;}
// .locat-details-search p{margin-bottom:30px; line-height:25px; font-size:16px;}
// .locat-details-search .btn-group{float:left;}
// .btn-group a{font-size:26px; color:#CCC;}
// .btn-group .btn-facebook:hover{color:#3B5998;}
// .btn-group .btn-twitter:hover{color:#55ACEE;}
// .btn-group .btn-google:hover{color:#DD4B39;}

#main-store{
  background: #f2f2f2;
}

.someclass i {
  display: inline;
}
.someclass .form-control {
  display: inline;
  width: 95%;
}
.location-put input[type=text]{
  background: asset-url("search-chef-icon.png") no-repeat 8px 12px #fff;
  padding: 10px 10px 10px 40px;
}

.search-box-input{
  width:750px;
}
.easy-autocomplete{
  width:750px;
}
.result-search{
  box-sizing: border-box;
  width:750px;
  margin-left:0px;
  .locat-result{
    background: #fff none repeat scroll 0 0;
    margin-bottom: 10px;
    padding: 25px;
    position: relative;
    box-sizing: border-box;
    .chef-box{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
          list-style-type: none;
          margin: 0;
          padding: 0;
          span.chef-img{
            float: left;
            width: 100px;
            img{
              height: 52px;
              width: 70px;
            }
          }
          span.chef-name{
            margin-left: 30px;
            h3{
              margin-top: 0px;
              color: #fd463d;
              font-size: 24px;
              line-height: 25px;
              margin: -20px 0 5px;

            }
            p{
              color: #000;
              font-size: 13px;
              margin: 0;
            }
          }
          
        }
      }
    }

    .chef-images {
      margin-bottom: 4px;
      margin-top: 8px;
      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
          list-style-type: none;
          margin: 0;
          padding: 0;
          float: left;
          margin-right: 15px;
          vertical-align: middle;
          img{
            height: 100 px;
            width: 130px;
          }
        }
        li:last-child{
          border: 1px solid #ebebeb;
          a {
            color: #fd463d;
            display: block;
            font-size: 18px;
            font-weight: 700;
            padding: 29px 30px 27px;
          }
        }
      }
    }

    .chef-food-detail{
      ul{
        float:left;
        li{
          color: #b2b2b3;
          display: block;
          font-size: 14px;
          margin-bottom: 6px;
          width: 100%;
          span.detail-con,.detail-con1{
            color: #000;
            display: inline-block;
            font-size: 14px;
            font-weight: 700;
            width: 80px;
          }
        }
      }
      ul:first-child{
        width:65%;
      }
      ul:last-child{
        width:35%;
      }
    }
  }
}