/* SEARCH */
.location-put {
  position: relative;
  margin-right: 0px;
  margin-bottom: 40px;
  background:#fff;
  input{
    padding: 10px 10px 10px 40px;
    color: #797979;
    border: 1px solid #dde1e7;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    height: 49px;
    padding: 2rem;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
    width: 100%;
  }
  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px #ddd;
    border: 1px solid #ddd;
  }
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    border: 1px solid #dde1e7;
    background-color: #fff;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
}
.someclass i {
  display: inline;
}
.someclass .form-control {
  display: inline;
  width: 95%;
}
.location-put input[type=text]{
  background: asset-url("search-chef-icon.png") no-repeat 8px 12px #fff;
  padding: 10px 10px 10px 40px;
}

.search-box-input{
  // width:750px;
}
.easy-autocomplete{
  // width:750px;
}
.result-search{
  box-sizing: border-box;
  margin-left:0px;
  .locat-result{
    background: #fff none repeat scroll 0 0;
    margin-bottom: 10px;
    padding: 25px;
    position: relative;
    box-sizing: border-box;
    .chef-box{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
          list-style-type: none;
          margin: 0;
          padding: 0;
          span.chef-img{
            float: left;
            width: 100px;
            img{
              height: 52px;
              width: 70px;
            }
          }
          span.chef-name{
            margin-left: 30px;
            a:hover{
              text-decoration:none;
            }
            h3{
              margin-top: 0px;
              color: #03A9F4;
              font-size: 24px;
              line-height: 25px;
              margin: -20px 0 5px;
              a{
                text-decoration:none;
                color: #03A9F4;
              }
            }
            p{
              color: #000;
              font-size: 13px;
              margin: 0;
            }
          }
          
        }
      }
    }

    .chef-images {
      margin-bottom: 4px;
      margin-top: 8px;
      float:left;
      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
          list-style-type: none;
          margin: 0;
          padding: 0;
          float: left;
          margin-right: 5px;
          vertical-align: middle;
          img{
            height: 80 px;
            width: 100px;
          }
        }
        li:last-child{
          border: 1px solid #ebebeb;
          a {
            color: #03A9F4;
            display: block;
            font-size: 18px;
            font-weight: 700;
            padding: 15px 30px 27px;
          }
        }
      }
    }

    .chef-food-detail{
      width:100%;
      float:left;
      ul{
        -webkit-padding-start: 0px;
        -webkit-margin-after: 0em;
        -webkit-margin-before: 1em;
        float:left;
        li{
          color: #b2b2b3;
          display: block;
          font-size: 14px;
          margin-bottom: 6px;
          width: 100%;
          span.detail-con,.detail-con1{
            color: #000;
            display: inline-block;
            font-size: 14px;
            font-weight: 700;
            width: 80px;
          }
        }
      }
      ul:first-child{
        width:65%;
      }
      ul:last-child{
        width:35%;
      }
    }
    .box-bottom-con{
      width:100%;
      float:left;
      ul{
        -webkit-padding-start: 0px;
        -webkit-margin-after: 0em;
        -webkit-margin-before: 1em;
        float:left;
        li{
          color: #b2b2b3;
          display: block;
          font-size: 14px;
          margin-bottom: 6px;
          width: 100%;
          span.detail-con,.detail-con1{
            color: #000;
            display: inline-block;
            font-size: 14px;
            font-weight: 700;
            width: 80px;
          }
        }
      }
      ul:first-child{
        width:55%;
      }
      ul:last-child{
        width:45%;
      }
      .wish-list{
        a{
          border: 1px solid #03A9F4;
          display: inline-block;
          height: 50px;
          line-height: 50px;
          text-align: center;
          width: 55px;
          color: #03A9F4;
        }
      }
      .view-more{
        a{
          background: #03A9F4 none repeat scroll 0 0;
          color: #fff;
          display: inline-block;
          height: 50px;
          line-height: 50px;
          text-align: center;
          vertical-align: top;
          text-decoration: none;
          width: 150px;
        }
      }
    }

  }
}
.rating-wrap {
  color: #4c5263;
  float: left;
  font-size: 12px;
  width: 100%;
  span.experince {
    color: #b2b2b3;
    float: right;
    font-size: 12px;
    margin-right: 10px;
    text-transform: uppercase;
  } 
  ul{
    -webkit-padding-start: 0px;
    li{
      float:left;
      i{
        color: #FD4;
        font-size: 20px;
      }
    }
  }
}
