<div id="bottom-wrapper-bar">
  <div class="container">
    <small>SFood © 2018 - 
      <a target="_blank" href="#">Terms &amp; Conditions
      </a>
    </small>
      <div class="row">
        <div class="col-md-6">
          <div class="fb-page" data-href="https://www.facebook.com/Food-H&#xe0;-N&#x1ed9;i-217992725599451" data-tabs="timeline" data-width="600px" data-height="400px" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Food-H&#xe0;-N&#x1ed9;i-217992725599451" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Food-H&#xe0;-N&#x1ed9;i-217992725599451">Food Hà Nội</a></blockquote></div>
      </div>
      <div class="col-md-6">
        <ul>
          <li>
            <a href="">Home</a>
            <a href="">Contact</a>
            <a href="">Address</a>
            <a href="">Message</a>
          </li>
        </ul>
      </div>
    </div>

  </dv>
</div>
</div>