<div id="top-navbar">
  <div id="logo-store" class="navbar-header" style="margin-left: 40px">
    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon icon-bar"></span>
      <span class="icon icon-bar"></span>
      <span class="icon icon-bar"></span>
    </button>
    <a id="brand" class="navbar-brand animated faded" data-wow-delay="0.3s" data-method="get" href="/en">LOGO_Store</a>
  </div>
  <div class="topbar-inner" >
    <div class="collapse navbar-collapse header-nav">
      <ul class="nav navbar-nav navbar-right header-mobile-menu">
        <ul class="nav navbar-nav">
          <li><a href=""><i class="fa fa-home"></i></a></li>
          <li><%= link_to "Locations", locations_url  %></li>
          <li><%= link_to "Informations", about_url  %></li>
          <li><%= link_to "Contacts Us", contact_url  %></li>
          <li>
            <%= render "notifications/language_dropdown" %>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</div>
