<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag('img2.jpg', alt: 'money') %>
      <div class="carousel-caption">
        <h3>Headline</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag('img3.jpg', alt: 'money') %>
      <div class="carousel-caption">
        <h3>Headline</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag('img2.jpg', alt: 'money') %>
      <div class="carousel-caption">
        <h3>Headline</h3>
      </div>
    </div>
    <div class="item">
      <%= image_tag('img3.jpg', alt: 'money') %>
      <div class="carousel-caption">
        <h3>Headline</h3>
      </div>
    </div>
  </div>
  <ul class="nav nav-pills nav-justified">
    <li data-target="#myCarousel" data-slide-to="0" class="active">
      <a href="#">About<small>Lorem ipsum dolor sit</small></a>
    </li>
    <li data-target="#myCarousel" data-slide-to="1">
      <a href="#">Projects<small>Lorem ipsum dolor sit</small></a>
    </li>
    <li data-target="#myCarousel" data-slide-to="2">
      <a href="#">Portfolio<small>Lorem ipsum dolor sit</small></a>
    </li>
    <li data-target="#myCarousel" data-slide-to="3">
      <a href="#">Services<small>Lorem ipsum dolor sit</small></a>
    </li>
  </ul>
</div>
