<div class="container-fluid">
  <section class="banner-section hidden-xs">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
         <%= image_tag('panel/p1.jpg', alt: 'panel/p1') %>
         <div class="carousel-caption">
          <!-- <h1>Quick Service, Quality Work &amp; Be Happy...
          </h1>
          <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas venenatis.</p>
          <a class="btn" href="#">Learn More</a> -->
        </div>
      </div>
      <div class="item">
        <%= image_tag('panel/p4.jpg', alt: 'slide2') %>
        <div class="carousel-caption">
          <!-- <h1>Quick Service, Quality Work &amp; Be Happy...
          </h1>
          <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas venenatis.</p>
          <a class="btn" href="#">Learn More</a> -->
        </div>
      </div>
      <div class="item">
        <%= image_tag('panel/p3.jpg', alt: 'slide3') %>
        <div class="carousel-caption">
          <!-- <h1>Quick Service, Quality Work &amp; Be Happy...
          </h1>
          <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas venenatis.</p>
          <a class="btn" href="#">Learn More</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<div class="container background-fff">
  <%= render "locations/search_form" %>
</div>