.toggle-title {
  font-weight: 400;
  font-size: 18px;
  color: #304351;
  margin-left:10px;
  i{
    span{
      margin-left: 8px;
    }
  }
}
.view {
  background-color: #f4f8f8;
  color: #5d5d5d;
  cursor: pointer;
  display: block;
  text-decoration: none;
  height: 52px;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
  transition:all 0.2s;
  line-height: 52px;
  position: relative;
}
.view.opened {
  background: #03adf8;
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid rgba(255,255,255,0.12);
}
.detail {
  padding: 15px 20px;
  display: none;
  line-height: 20px;
  font-size: 16px;
  background-color: #FFF;
  color: #5d5d5d;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid rgba(255,255,255,0.15);
  font-weight: 300;
}
.view:hover {
  text-decoration: none;
  background: #eeeeee;
}
.view.opened {
  background-color: #eeeeee;
  border: 0 none;
  border-left: 3px solid #00BCD4;
}
.view.opened .toggle-title,
.view:hover .toggle-title {
  color:#5d5d5d;
}

#fitter-view{
  background:#d3e7ed;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.protable thead {
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

.protable thead tr {
    height: 40px;
}
.protable thead tr th:first-child {
    padding-left: 15px;
}
  
.protable thead tr th {
    vertical-align: middle;
    text-align: left;
    font-weight: bold;
}
.form-horizontal .form-group {
    border-bottom: 1px solid #ebebeb;
    padding: 10px 10px;
}
.edit_dish{
  padding:20px;
}
.edit_category{
  padding:20px;
}