<div class="card">
  <ul class="nav nav-tabs" role="tablist">
    <li class="tab-head active" role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Show</a></li>
    <li class="tab-head" role="presentation"><a href="#create-dish" aria-controls="create-dish" role="tab" data-toggle="tab">Create</a></li>
    <li class="tab-head" role="presentation"><a href="#edit-dish" aria-controls="edit-dish" role="tab" data-toggle="tab">Edit</a></li>
    <li class="tab-head" role="presentation"><a href="#tags-dish" aria-controls="tags-dish" role="tab" data-toggle="tab">Tags</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <div class="row">
        <div class="col-xs-12">
          <div class="">
            <div class="box-header">
              <h5 class="box-title">Search</h5>
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" id="search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <table class="table table-hover" id="table">
              <tbody>
                <tr>
                  <th>Name</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                <% @admin_categories.each do |dish| %>
                <tr>
                  <td><%= dish.name %></td>
                  <td><%= link_to 'Edit', edit_admin_category_path(dish.id) %></td>
                  <td><%= link_to 'Destroy', admin_category_url(dish.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
                <% end %>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="create-dish">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">New Dish</h3>
        </div>

       
      </div>
    </d iv>
    <div role="tabpanel" class="tab-pane" id="edit-dish">
      <h3>Choose To edit</h3>
      <div class="box-tools">
        <div class="input-group input-group-sm" style="width: 150px;">
          
        </div>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="tags-dish"></div>
</div>

<script type="text/javascript">
 $("#search").keyup(function(){
  _this = this;
  $.each($("#table tbody tr"), function() {
    if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1)
     $(this).hide();
   else
     $(this).show();                
 });
}); 
</script>