
$orangered: #ff4500;
$spectra: #2f4f4f;
$caribbean-green: #05bba5;
$light-green: #0ac986;
$bitter: #8f8f81;
$alabaster: #f9f9f9;
$white: #fff;
$geyser: #c9dadd;
$dove-gray: #666;
$meadow: #22be5c;
$shamrock: #32c6a1;
$pink: #dd7e89;
$red: #f00;
$salem: #0ba73e;
$jellybean: #2a8797;
$black: #000;
$hippie-green: #468847;
$dark-red: #8b0000;
$blue: #00f;
$cerulean: #0a93cc;
$silver: #bdbdbd;
$tundora: #4c4a4a;
$gallery: #eaeaea;
$alto: #dadada;
$light-grey: #f0f0f0;
$grey: #ededed;
$silver-chalice: #afaeae;
$light-blue: #98bcdf;
$gray-dark: #444;
$mexican-red: #a41f35;
$scorpion: #5f5b5b;
$alabaster: #fafafa;
$mystic: #e1e8ed;
$abbey: #595a5d;
$sushi: #82b440;
$dark-sushi: #6f9a37;
$green-sushi: #7aa93c;
$boulder: #787878;
$emperor: #545454;
$bondi-blue: #0084b4;
$dark-salem: #0a6f42;
$cornflower-blue: #6495ed;
$wild-sand: #f4f4f4;
$cucumber: #89b556;
$gray-light: #eee;
$mercury: #e3e3e3;
$light-alabaster: #fcfcfc;
$gray: #919191;
$carrot: #f9993e;
$dark-blue: #24297f;
$grape: #4a1951;
$east-bay: #4d508e;
$cardinal: #d11f25;
$jelly-blue: #2d97a7;
$yellow: #ff0;
$golden: #e6c600;
$golden-dark: #b89d00;
$alto: #ddd;
$dark-silver: #aaa;
$dark-white: rgba(246, 229, 209, .3);
$martini: rgba(180, 160, 160, .3);
$black-opacity: rgba(0, 0, 0, .2);
$gray-opacity: rgba(84, 84, 84, .89);
$gray-darked: rgba(100, 96, 99, 0);
$gray-darked2: rgba(100, 96, 99, 0.85);
$white-light: rgba(251, 251, 255, .86);
$blossom: rgba(255, 134, 147, .65);
$dark-blossom: rgba(188, 114, 113, .66);
$brick: rgba(155, 34, 45, .93);
$spring-green: rgba(36, 255, 109, .75);
$bermuda: rgba(137, 222, 200, .76);
$pelorous: rgba(54, 178, 194, .71);
$pelorous-opacity: rgba(54, 178, 194, .91);
$black-light: rgba(0, 0, 0, .25);
$grey-opacity: rgba(119, 119, 119, .58);
$blue-opacity: rgba(44, 76, 134, .68);
$grey-black: rgba(0, 0, 0, 0);
$black-like: rgba(0, 0, 0, .6);
$black-haft: rgba(0, 0, 0, .5);
$black-dark: rgba(0, 0, 0, .8);
$fiord: rgba(70, 75, 110, .247059);
$admin-background: rgba(185, 176, 176, .2);
$slide-link: #07a6f5;
$form-background: rgba(253, 255, 255, .7);
$btn-color1: #41deb6;
$form-control-color: #23ffd0;
$outside-ground: rgba(168, 129, 110, 0.82);
$inside-ground: rgba(199, 194, 155, 0.93);
$blue-zodiac : #404453;
$blue-like: #03A9F4;
$blue-logo:#2391ff;
body {
  background: $white;
  color: $blue-zodiac;
  font-family: 'Nunito'
}

h1, h2, h3, h4, h5 {
  font-family: 'Nunito';
  line-height: 1.45;
}
h1 {
  font-size: 32px;
  font-weight: 500;
}

h2 {
  font-size: 28px;
  font-weight: 500;
  padding: 20px;
  color: #ecf0f1;
}

h3 {
  font-size: 23px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

p {
  line-height: 1.45;
  &.big {
    font-size: 20px;
    line-height: 32px;
  }
  font-size: 16px;
  line-height: 28px;
  &.small {
    font-size: 14px;
    line-height: 24px;
  }
}


#wrap {
  margin: 0 auto 30px;
}

#regbar {
  height: 67px;
  background: #34495e;
}

#navthing {
  margin-left: 50px;
}
fieldset {
  border: none;
}

.login {
  position: relative;
  width: 350px;
  display: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #ECF0F1;
  left: 10%;
  position: absolute;
  top: -10px;
}

.formholder {
  background: rgba(0, 0, 0, 0.76);
  border-radius: 5px;
  padding-top: 5px;
  margin-top:120px;
  margin-bottom: 120px;
  h1 {
    text-transform: uppercase;
    font-size: 32px !important;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
  }
}
.formholder input[type="email"],
.formholder input[type="password"],
.formholder input[type="text"] {
  padding: 7px 5px;
  margin: 10px 0;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"] {
  background: #4670bc;
  padding: 10px;
  font-size: 20px;
  display: block;
  border: none;
  color: #fff;
  border-radius: 5px;
  width: 96%;
}
.formholder input[type="reset"] {
  background: rgb(185, 202, 185);
  padding: 10px;
  font-size: 20px;
  display: block;
  color: white;
  border: none;
  border-radius: 5px;
  width: 96%;
  &:hover {
    background: #999;
  }
}
.formholder input[type="submit"]:hover {
  background: #8185c6;
}

.randompad {
  padding: 70px;
}

.green {
  color: #1abc9c;
}

a {
  color: #ecf0f1;
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  background-position: center center;
  background-repeat: no-repeat;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

.feature-thumb {
  background: url('https://goo.gl/Tno2uj');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}

.animated.faded {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: fading, bounce;
}

@keyframes fading {
  from,
  to {
    color: $blue-logo;
  }

  50% {
    color: $spectra;
  }
}

@keyframes bounce {
  0%, 8%, 22%, 32%, to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    transform: translateZ(0);
  }

  16%, 18% {
    transform: translate3d(0, -30px, 0);
  }

  16%, 18%, 28% {
    animation-timing-function: cubic-bezier(.755, .05, .855, .06);
  }

  28% {
    transform: translate3d(0, -15px, 0);
  }

  35% {
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

.nav.navbar-nav.navbar-right li a:hover {
  color: $blue-like;
  border-bottom: 2px solid #03A9F4;
}

#brand {
  font-family: 'Merienda One';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

#top {
  animation-duration: .6s;
  animation-name: fadeInDown;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#top2 {
  height: 100vh;
  position: absolute;
  width: 100%;
  display: block;
  color: rgb(255, 255, 255);
  /*background: rgba(181, 167, 152, 0.82);*/
  z-index: 2;
  overflow-y: auto;
}

.navbar {
  box-shadow: 0 4px 6px #8f8f8159;
  height: 52px;
  margin-bottom: 1px;
  position: fixed;
  width: 100%;
}

.fit {
  max-width: 100%;
}

.center {
  display: block;
  margin: auto;
}

img.actived {
  display: block;
}

img.inactived {
  display: none;
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    color: $orangered;
  }

  0% {
    color: $orangered;
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    color: $orangered;
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    color: $orangered;
    opacity: 1;
    transform: scaleX(1);
  }
}

#brand:hover {
  animation-duration: 1.75s;
  animation-fill-mode: both;
  animation-iteration-count: 2;
  animation-name: bounceIn;
}

.dpdwn {
  ul {
    display: none;
  }
}

.dpdwn:hover ul {
  animation-delay: .1s;
  animation-name: fadeIn;
  background-color: $alabaster;
  box-shadow: 0 8px 16px 0 $black-opacity;
  display: inline-block;
  list-style-type: none;
  min-width: 160px;
  position: absolute;
  z-index: 1;

  li a {
    color: $gray-opacity;
  }
}

#admin {
  margin-left: -30px;
  margin-right: -30px;

  a {
    color: $gray-darked;
  }
}

#admin:hover {
  background: url('https://cdn4.iconfinder.com/data/icons/gray-user-management/512/computer-512.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25%;
  display: inline;
}

#login {
  background: url("http://i.imgur.com/brRS1Vl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(.4px);
  min-height: 100vh;
}

.login-form {
  animation: fadeIn 2.5s;
  background: $white-light;
  left: 0;
  margin: auto;
  max-height: 90vh;
  border-radius: 4px;
  overflow: auto;
  padding: 20px 15px;
  position: absolute;
  right: 0;
  top: 52%;
  transform: translateY(-50%);
  width: 500px;
}

.form-group {
  margin-bottom: 10px;
  position: relative;
}

.log-btn {
  background: $golden;
  border: 1px solid $golden-dark;
  border-radius: 4px;
  color: $white;
  display: inline-block;
  font-size: 16px;
  height: 50px;
  margin-top: 10px;
  text-decoration: none;
  width: 100%;
}

.log-btn-2 {
  background: $light-green;
  border: 1px solid $green-sushi;
  border-radius: 4px;
  color: $white;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  margin-top: 10px;
  text-decoration: none;
}

.log-btn:hover {
  background: $golden;
}

.btn2 {
  background: #0a922d  !important
}

.link {
  color: $shamrock;
  float: right;
  font-size: 12px;
  margin-bottom: 15px;
  text-decoration: none;
}

.link:hover {
  color: $pink;
  text-decoration: double;
}

.alert {
  color: $red;
  display: none;
  float: left;
  font-size: 12px;
}

.error,
.alert,
.notice,
.info,
.danger {
  background: #FFF;
  border: 1px solid rgba(183, 183, 183, 0.66);
  border-radius: 5px;
  color: #5d5d5d;
  padding: 8px;
  font-size: 15px;
}

.success {
  background: $blossom;
  border: $spring-green;
  border-radius: 5px;
  color: $salem;
  padding: 8px;
  font-size: 15px;
}

#admin-show {
  animation-duration: 1.5s;
  animation-name: fadeInDown;
  background: url('http://i.imgur.com/brRS1Vl.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(.4px);
  height: 100vh;
}

.profile {
  background: $bermuda;
  border-radius: 4px;
  color: $white;
  font-size: 20px;
  left: 0;
  margin: 20px 20px 40px;
  padding: 20px 30px;
  position: absolute;
  right: 0;
  top: 11%;
  transform: translateY(-50%);
}

.edit-pass {
  background: $pelorous;
  border: 1px solid $jelly-blue;
  border-radius: 5px;
  color: $white;
  margin-bottom: 5px;
  padding: 5px 20px;
  text-align: center;
}

.edit-pass:hover {
  background: $pelorous-opacity;
  border: 1px solid $jellybean;
}

.flash-notice {
  border-radius: 4px;
  display: block;
  left: 0;
  margin: auto;
  padding: 20px 15px;
  position: absolute;
  right: 0;
  top: 22%;
  transform: translateY(-50%);
  width: 550px;
}

.edit-pass-content-show {
  display: block;
}

.edit-pass-content-hide {
  display: none;
}

.choose {
  label {
    color: $black;
    font-size: 16px;
  }
}

.section {
  color: $black;
  min-height: 100vh;
  overflow-y: auto;

  h1 {
    font-size: 30px;
    letter-spacing: 2px;
    padding-top: 20px;
  }
}

.form-label {
  font-size: 24px !important;
  font-family: Serif;
  font-variant: small-caps;
  color: $white;
  padding: 2px;
}

.form-control {
  background: $white;
  border: 2px solid $geyser;
  border-radius: 4px;
  color: $dove-gray;
  height: 50px;
  padding: 5px 7px 5px 15px;
  width: 100%;
  font-size: 1.3vw;
}

.delete {
  background: red !important;
}

$primary: #2196F3;

.login-bg {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background: url(http://i.imgur.com/OISWruP.jpg) fixed;
  background-position: top 70% left;
  background-size: cover;
}

.edit-food {
  background: url(http://i.imgur.com/vt9U1XZ.jpg) top center fixed;
  background-size: cover;
  height: 100vh;
}

@keyframes spinner {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(359deg); }
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50%;
  background: rgba(4, 40, 68, 0.59);
  margin-top: 120px;
  margin-bottom:120px;
  padding-top: 0;

  h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
  }
}


.login2 {
  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  background: #ffffff;
  position: relative;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);

  &.loading {
    button {
      max-height: 100%;
      padding-top: 50px;
      .spinner {
        opacity: 1;
        top: 40%;
      }
    }
  }

  &.ok {
    button {
      background-color: #8bc34a;
      .spinner{
        border-radius: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        height: 20px;
        animation: none;
        transform: rotateZ(-45deg);
      }
    }
  }

  input {
    padding: 15px 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: #ccc;

    &+ i.fa {
      color: #fff;
      font-size: 1em;
      position: absolute;
      margin-top: -47px;
      opacity: 0;
      left: 0;
      transition: all 0.1s ease-in;
    }

    &:focus {
      &+ i.fa {
        opacity: 1;
        left: 30px;
        transition: all 0.25s ease-out;
      }
      outline: none;
      color: #444;
      border-color: $primary;
      border-left-width: 35px;
    }

  }

  [type=submit] {
    color: white;
    font-size: 16px;
    font-weight: 700 !important;
    width: 100% !important;
  }

  a {
    font-size: 0.8em;
    color: $primary;
    text-decoration: none;
  }

  .title {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }

  button {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: $primary;
    color: #fff;
    display: block;
    border: none;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 60px;
    border: 0px solid rgba(0,0,0,0.1);
    border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);

    transition: all 0.1s ease-out;
    border-bottom-width: 7px;

    .spinner {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      border: 4px solid #ffffff;
      border-top-color: rgba(255,255,255,0.3);
      border-radius: 100%;
      left: 50%;
      top: 0;
      opacity: 0;
      margin-left: -20px;
      margin-top: -20px;
      animation: spinner 0.6s infinite linear;
      transition: top 0.3s 0.3s ease,
      opacity 0.3s 0.3s ease,
      border-radius 0.3s ease;
      box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    }

  }

  &:not(.loading) button:hover {
    box-shadow: 0px 1px 3px $primary;
  }
  &:not(.loading) button:focus {
    border-bottom-width: 4px;
  }


}

footer {
  display: block;
  padding-top: 50px;
  text-align: center;
  color: #ddd;
  font-weight: normal;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
  font-size: 0.8em;
  a, a:link {
    color: #fff;
    text-decoration: none;
  }
}

.p-link, .p-link2 {
  display: inline;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 500;
  color: white !important;
  a {
    color: yellow;
  }
}

.p-link2 {
  margin-top: -10px;
  font-size: 16px;
  a {
    color: greenyellow;
  }
}

.btn-reg {
  background: #3a8b4d !important;
  width: 100% !important;
}

.btn-reg:hover {
  background: greenyellow !important;
}

.overlay {
  display: block;
  background: grey;
  color: white;
  height: 91%;
  left: 10%;
  position: absolute;
  top: 5%;
  transition: background .5s ease;
  width: 80%;
}

.slide {
  position: relative;
}
.slide:hover .overlay {
  background: rgba(0, 0, 0, .6);
  display: block;
}

._dsvln {
  margin-top: 13px;
}
._jveic {
  min-height: 68px;
}
._jveic {
  align-items: center;
  border: 1px solid #efefef;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}
._ixow7, ._jveic {
  flex-shrink: 0;
}
._ebwb5 {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: -9px;
  margin-right: 3px;
}
._1tv0k {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
}
._k3t69 {
  color: #999;
  flex-shrink: 1;
  flex-grow: 1;
}
._7uiwk {
  background: 0 0;
  border: none;
  color: #262626;
  font-size: 15px;
  line-height: 18px;
  outline: none;
  width: 100%;
}
._qy55y {
  -webkit-appearance: none;
}
._soakw {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}

.description {
  position: absolute;
  font-size: 24px;
  left: 3%;
  top: 73%;
  font-weight: 700;
  a {
    color: yellow !important;
  }
}

.container2 {
  position: relative;
  width: 100%;
  height: auto;
}

.overlay {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  color: #FFF;
  background: rgba(2, 1, 6, 0.61);
  transition: background 0.5s ease;
}

.item img {
  /*position: relative;*/
  width: 100%;
  left: 0;
}

.upload {
  label {
    font-size: 24px !important;
    font-family: Serif;
    font-variant: small-caps;
    color: $yellow !important;
    padding: 2px;
  }
  [type=submit] {
    background: green !important;
    width: 100% !important;
  }
  [type=submit]:hover {
    background: greenyellow !important;
  }
  .has-error {
    font-size: 18px;
    font-weight: 700;
  }
}

//home page
.uk-grid > * > :last-child {
  margin-bottom: 0;
}
.uk-text-center {
  text-align: center !important;
}
.uk-panel, .uk-panel:hover {
  text-decoration: none;
}
.uk-panel {
  display: block;
  position: relative;
}
.uk-text-center .uk-module-title-alt {
  display: inline-block;
}
.uk-module-title-alt {
  position: relative;
  display: table;
}

[class*='uk-width'] {
  box-sizing: border-box;
  width: 100%;
}

.uk-grid > * {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
  margin: 0;
  float: left;
}

.uk-margin-small{
  margin-bottom: 5px;
  height: 60px;
  vertical-align: center;
}

.uk-margin-small a {
  color: #aea512 !important;
  font-size: 28px;
  font-weight: 600;
}
.tm-rating {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px;
}
.tm-rating li {
  color: #fd8e18;
  padding-right: 1px;
  display: inline-block;
  line-height: 20px;
}

[class*='uk-icon-'] {
  font-family: FontAwesome;
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tm-price {
  color: red;
  font-weight: 600;
  font-size: 26px;
  margin: 30px 0;
}

.uk-block-default {
  background: #ffffff;
}

.uk-block {
  background: #f4f4f4;
  box-sizing: border-box;
  position: relative;
  //padding-top: 40px;
  //padding-bottom: 40px;
  //min-height: 80vh;
  //margin-bottom: 50px;
}

.uk-block > :last-child {
  margin-bottom: 0;
}

.uk-container-center {
  margin-left: auto;
  margin-right: auto;
}

.uk-container {
  box-sizing: border-box;
  width: 100%;
  padding: 0 25px;
  position: relative;
  display: block;
}
[data-uk-scrollspy*='uk-animation-']:not([data-uk-scrollspy*='target']) {
  opacity: 0;
}
.uk-block {
  display: block;
}
.uk-width-medium-1-4 {
  width: 25%;
}
.hot-dish {
  width: 180px !important;
  height: 150px !important;
  margin-bottom: 10px;
}

.uk-width-1-1 {
  width: 100%;
}
.uk-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: -10px;
  padding: 0;
}

.uk-width-1-1 {
  width: 100%;
}

.uk-text-left {
  text-align: left !important;
}

.tm-overlay-secondary {
  background-color: rgba(70, 75, 110, .247059);
}

.uk-module-title-alt {
  display: table;
  position: relative;
}

.uk-text-left .uk-module-title-alt {
  display: inline-block;
}

.uk-panel {
  display: block;
  position: relative;
}

.uk-panel,
.uk-panel:hover {
  text-decoration: none;
}

.uk-flex {
  display: flex;
}

.uk-flex-middle {
  align-items: center;
}

.tm-header-height {
  height: 95vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.tm-header-height:hover .uk-cover-background {
  transform: scale(1.2);
}

.uk-cover-background {
  background: url('https://drive.google.com/uc?id=0B9VYzD5V43juYzlHRjZSVnM4eFU') no-repeat center center;
  background-size: cover;
  height: 98%;
  position: absolute;
  transition: all .5s;
  width: 100%;
}

.uk-overlay {
  background-color: black;
  height: 92%;
  left: 0;
  opacity: .5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.uk-container {
  box-sizing: border-box;
  float: left;
  position: absolute;
  z-index: 20;
}

.apple-pagination {
  cursor: default;
  font-size: 18px;
  font-weight: 200;
  text-align: center;

  a,
  span {
    padding: 0 2px;
  }

  .disabled {
    color: $dark-silver;
  }

  .current {
    background-color: $cornflower-blue;
    border-radius: 1em;
    color: $white;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    height: 2em;
    padding-top: 5px;
    width: 2em;
  }

  a {
    color: $cornflower-blue;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

.carousel {
  width: 94% !important;
  margin-left: 3%;
}
.carousel2 {
  width: 94% !important;
  margin-left: 3%;
}

.item {
  width: 95%;
}

.home-list-title span.star {
  display: inline-block;
  background: url(http://animetvn.com/img/start.png) no-repeat;
  width: 17px;
  height: 17px;
  background-size: 16px auto;
}
.home-film-list-view-more {
  right: 50px;
  display: inline-block;
  color: black;
  text-decoration: underline;
  font-size: 1.6vw;
}
.home-list-title {
  margin: 0;
  text-align: center;
  color: #fff;
  background-color: #00665d;
  padding: 8px 0;
  font-weight: 300;
  font-family: "Khand";
}

.item2 img {
  width: 100%;
  height: 300px;
  left: 0;
}

.pj-form-field {
  background-color: #fff;
  border: solid 1px #c9d1da;
  border-radius: 3px;
  box-shadow: inset 1px 1px 1px #eeeff0;
  font: normal 16px Verdana, sans-serif;
  font-family: Verdana !important;
  padding: 7px 6px;
}

.pj-form-field [type=text] {
  height: 14px;
  padding: 7px 6px;
  margin-top: 5px;
}

.w180 {
  width: 80%;
}

#tag_cloud {
  line-height: 1.8em;
  .s { font-size: 1.2em; }
  .m { font-size: 1.6em; }
  .l { font-size: 2.2em; }
  a {
    color: cornflowerblue;
  }
}
.avatar {
  background-color: #fafafa;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  position: relative;
  height: 45px;
  width: 45px;
}

.upload-preview img {
  width: 500px;
  height: auto;
}

.user-show {
  background: lightgray;
  color: white;
  font-size: 18px;
  min-height: 100vh;
}
.user-show img {
  height: auto;
  width: 500px
}
.user-ava {
  width: 200px !important;
  height: 200px !important;
}
.user-show a {
  color: yellow;
}

//menu-user
.popover_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.popover_menu_item_blog {
  background: #fff;
  padding: 0;
  border-top: 1px solid rgba(68,68,68,.1);
  width: 100%;
}
.popover_menu_item_blog:first-child {
  border-top: none;
}
.popover_menu_item {
  position: absolute;
  display: block;
  border-bottom: 1px solid #e7e7e7;
  box-shadow: inset 0 1px 0 hsla(0,0%,100%,.6);
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #444;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 0;
}
.popover_menu_item:last-child {
  border-bottom-color: #000;
}
.popover_menu_item:first-child {
  box-shadow: none;
}
.popover_menu_item_blog_details {
  padding-top: 5px !important;
}
.blog-list-item, .blog-list-item .blog-list-item-anchor {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  min-height: 57px;
  box-sizing: border-box;
}
.blog-list-item {
  -ms-flex-align: center;
  font-size: 13px;
  padding-right: 10px;
}
.blog-list-item:hover {
  background: #E6EFF7;
}
.blog-list-item .blog-list-item-anchor {
  padding-left: 10px;
  height: 57px;
  box-flex: 1;
  flex: 1;
}
.blog-list-item, .blog-list-item .blog-list-item-anchor {
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  min-height: 57px;
  box-sizing: border-box;
}
.blog-list-item .blog-list-item-avatar {
  position: relative;
  margin-right: 10px;
  height: 37px;
  width: 37px;
  display: inline-block;
}
.blog-list-item .blog-list-item-avatar-image {
  border-radius: 3px;
  width: 100%;
  height: auto;
}
.blog-list-item .blog-list-item-info {
  box-flex: 1;
  flex: 1;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 17px;
  max-width: 135px;
  display: block;
}
.blog-list-item .blog-list-item-info .blog-list-item-info-name {
  font-weight: 700;
}
.blog-list-item .blog-list-item-info .blog-list-item-info-name,
.blog-list-item .blog-list-item-info .blog-list-item-info-title {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.blog-list-item .blog-list-item-info .blog-list-item-info-title {
  color: #8f8f8f;
  font-size: 13px;
}
.popover_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.blog-sub-nav-item {
  padding: 4px 0;
}
.blog-sub-nav-item:hover {
  background: #E6EFF7;
  color: #3e5266;
}
.blog-sub-nav-item .blog-sub-nav-item-link {
  display: block;
  line-height: inherit;
  padding: 0;
  height: 19px;
}
.blog-sub-nav-item {
  padding: 5px;
}
.blog-sub-nav-item .blog-sub-nav-item-label {
  display: inline-block;
  float: left;
}
.blog-sub-nav-item .blog-sub-nav-item-data {
  color: #8f8f8f;
  display: inline-block;
  float: right;
}
.horizon {
  margin: 0;
}

.search {
  padding-top: 8px;
}
.form-control-feedback {
  right: 3px;
  top: 8px;
  text-align: left;
  width: 26%;
  color: grey;
}

.form-control-clear {
  cursor: pointer;
  display: inline-block;
  pointer-events: auto;
  z-index: 10;
}

.popover-wrapper {
  position: absolute;
  top: 28%;
  right: 11%;
  z-index: 10;
}
.popover-wrapper2 {
  position: absolute;
  top: 14%;
  right: 11%;
  z-index: 10;
}
.popover-btn {
  background: white;
  border: 1px solid white;
  border-radius: 3px;
  box-sizing: border-box;
  height: 32px;
  line-height: 24px;
  width: 32px;
  &:hover {
    filter: brightness(80%);
  }
}
.popover-btn i {
  position: absolute;
  transform: translateY(-50%);
  right: 25%;
  color: black;
  font-size: 1.6em;
}

.popover-wrapper2 .popover-btn2 a i {
  position: absolute;
  transform: translateY(-50%);
  right: 15%;
  color: red !important;
  font-size: 1.6em;
}
.popover-wrapper:hover .popover-content {
  display: block;
}
.popover-content {
  position: absolute;
  top: 0;
  right: 100%;
  display: none;
  padding: 0;
}
.social-networks {
  width: 200px;
  box-shadow: 0 0 100px #666;
  background: transparent;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  a {
    overflow: hidden;
    display: block;
    width: 32px !important;
    height: 32px !important;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
  }
}

.social-share-button {
  .ssb-icon {
    background-size: 32px 32px !important;
    &:hover {
      filter: brightness(200%);
    }
  }
  a {
    overflow: hidden;
    display: block;
    width: 32px !important;
    height: 32px !important;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
  }
}

.info-food {
  top: 85%;
  position: absolute;
  color: white;
  font-size: 1.2vw;
}

.block-content {
  padding: 10px 12px 6px;
  position: relative;
  width: 100%;
}
.block-content h4.block-name {
  font-family: 'Nunito';
  font-size: 24px;
  font-weight: bolder;
  margin: 0;
  max-width: 85%;
  min-height: 80px;
}
.block-content .block-address {
  font-size: 1vw;
  font-weight: 400;
  padding: 0;
  color: #9b9b9b;
  display: inline-block;
  a {
    color: green;
    display: inline-block;
  }
}
.block-content>.block-activity {
  padding-top: 5px;
  border-top: 1px solid #e4e4e4;
}
.profile-card {
  background: #fff;
  height: 50px;
  position: relative;
}
.profile-card .pc-image {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.profile-card .pc-image>img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.img {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  max-width: 100%;
}
.profile-card .pc-content {
  margin-left: 50px;
}
.pc-name {
  font-size: 1.2vw;
  border: 0;
  margin: 5px 0 0 13px;
  padding: 0;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.block-meta {
  position: absolute;
  top: 5px;
  right: 20px;
  display: inline-block;
  align-items: flex-start;
  font-size: 18px;
  margin-top: 0;
}
.block-counts i {
  margin-right: 3px;
}
.block-meta .block-counts {
  font-size: 2vw;
  vertical-align: top;
}
.block-description {
  font-size: 16px;
  margin-top: -45px;
  min-height: 40px;
}
.lz {
  line-height: inherit;
  color: red;
}
.item {
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.07);
  border-radius: 5px;
  border-bottom: 1px solid #d7d7d7;
  margin-left: 10px;
}
.item2 {
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.07);
  border-radius: 5px;
  border-bottom: 1px solid #d7d7d7;
  margin-left: 10px;
  padding: 0;
  width: 32%;
}
.item3 {
  margin-top: 20px;
}

.user-site {
  background: #f4f4f4;
  min-height: 95vh;
  overflow-y: auto;
  h1 {
    font-family: 'Righteous';
    color: white !important;
    font-size: 4vw !important;
    font-weight: 500 !important;
    line-height: 48px !important;
    margin-top: 22% !important;
    padding: 0 0 0 50px !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  }

  h5 {
    color: white;
    font-family: 'Ruthie';
    font-size: 6vw;
    font-weight: 500;
    letter-spacing: 3px;
    margin: 0 0 15px;
    padding: 0 0 0 50px;
  }
  h2, .uk-h2 {
    font-family: 'Khand';
    font-size: 2.6vw;
    line-height: 36px;
  }
  h2, h3, h6 {
    font-weight: 400;
    text-transform: none;
    text-rendering: auto;
  }
  .owl-theme .owl-controls .owl-buttons div {
    background: transparent;
  }
  .owl-theme .owl-controls .owl-buttons div img {
    position: absolute;
    top: 45%;
    width: 60px;
  }
  .carousel .owl-buttons div.owl-prev {
    float: left;
    margin-top: -330px;
    margin-left: -50px;
  }
  .carousel .owl-buttons div.owl-next {
    float: right;
    margin-top: -330px;
    right: -90px !important;
  }
  .carousel2 .owl-buttons div.owl-next {
    float: right;
    margin-top: -330px;
    right: -90px !important;
  }
  .carousel2 .owl-buttons div.owl-prev {
    float: left;
    margin-top: -330px;
    margin-left: -50px;
  }
}

.section2 {
  min-height: 800px;
  margin-top: -54px;
}

.cook-details {
  margin-left: -10px;
  width: 110%;
}
.cook li, .cook1 li {
  margin-right: 0;
  display: inline-block;
  font-size: 1.2vw !important;
}
.icon--cook-card-follower {
  display: inline-block;
  margin-top: 9px;
}
.icon--cook-card-favorite {
  display: inline-block;
  margin-top: 9px;
}
.icon--cook-card-made {
  margin-top: 9px;
}
.cook {
  margin-left: -12%;
  width: 42%;
}
.cook1 {
  margin-left: -8px;
  width: 42%;
}

.flash-message {
  border-radius: 4px;
  display: block;
  left: 0;
  margin: auto;
  padding: 20px 15px 20px 15px;
  right: 0;
  top: 50%;
}

.old-img {
  img {
    width: 150px;
    height: 150px;
  }
}
.navbar-nav > li > a {
  font-size: 16px !important;
}
.social-share-button a {
  display: inline;
}

div.image-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.image-wrapper img {
  display: block;
}
#test {
  position: absolute;
  left: -17%;
  top: 80%;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
#test p {
  width: 100%;
  font-family: 'Ruthie';
  font-size: 30px;
  text-align: center;
  color: white;
  margin-top: -40px;
  animation: fadeInLeft 5s;
}
#test canvas {
  margin:0 auto;
  text-align:center;
  font-family: 'Ruthie';
  color: white !important;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#mk-button-15 {
  left: 6%;
  margin-top: 4%;
  position: absolute;
}

.mk-button-container {
  position: relative;
  display: inline-block;
  a {
    text-decoration: none !important;
    color: white;
  }
}
.mk-button--dimension-outline {
  border-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  color: #ffffff;
  &:hover {
    background: white;
    border-color: white;
    color: #252525;
  }
}
.mk-button {
  backface-visibility: hidden;
  border-radius: 0;
  box-sizing: border-box;
  display: inline-block;
  line-height: 100%;
  max-width: 100%;
  padding: 18px 28px;
  position: relative;
  transition: color .1s ease-in-out,background .1s ease-in-out,border .1s ease-in-out;
}
.mk-button--text {
  font-size: 2vw;
  font-weight: 500;
}
.comment-item {
  margin: 0 0 -10px -27px;
  p {
    display: inline-block;
  }
  .edit, .remove {
    font-size: 18px !important;
    color: cornflowerblue;
    margin-left: 10px;
  }
  .edit {
    margin-left: 50px;
  }
}

.edit-user {
  img {
    width: 150px;
    height: 150px;
  }
  h3 {
    margin-left: -15px;
    font-weight: 600;
    color: #fffb00;
  }
  h4 {
    margin: 5px -15px 10px;
  }
  p {
    font-size: 12px !important;
  }
  .delete {
    width: 100% !important;
  }
  .back-edit {
    margin-top: 10px;
    color: yellow !important;
    font-size: 16px !important;
    font-weight: 500;
  }
}

// show food
.summary-background {
  background: white;
  margin-bottom: 50px;
}
.hero-photo {
  width: 55%;
  float: right;
  margin-left: 10px;
}
.hero-photo {
  position: relative;
  float: left;
  text-align: center;
}
.hero-photo--downsized .favorite {
  top: .6rem;
  width: 75px;
  height: 75px;
  background-position: 0 .45rem;
  background-size: 100%;
  right: .6rem;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  background-image: url(http://images.media-allrecipes.com/ar-images/sprites/heart-icons.svg),none;
  background-repeat: no-repeat;
}
.hero-photo--downsized .hero-photo__image {
  position: relative;
  max-width: 720px;
}
.hero-photo--downsized .hero-photo__image img {
  max-width: 600px;
  border-radius: 5px;
}
img.rec-photo {
  min-height: 200px;
  width: 100%;
}
.recipe-summary {
  width: 43%;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
  overflow: hidden;
  position: relative;
}
.recipe-summary .rating-stars {
  display: flex;
  cursor: pointer;
  margin-right: .25rem;
}
.recipe-summary .rating-stars img {
  font-size: 25px;
  line-height: 25px;
  width: 25px;
  height: 25px;
  margin-right: .25rem;
}
.recipe-summary .summary-stats-box {
  min-height: 32px;
}
.recipe-summary .total-made-it span {
  color: #ff7e1a;
}

.photo-info {
  float: left;
  margin-left: 60px;
  width: 85%;
  position: relative;
  h3 {
    color: lightgray;
  }
}
.photo-info>h2 {
  padding: 25px 0 15px;
  font-size: 30px;
  margin: 0;
  color: black;
}
.photo-info .pt-detail-card {
  font-size: 16px;
  padding-bottom: 25px;
  line-height: 26px;
}
.photo-info .pt-detail-card .label {
  color: #afafb2;
}
.photo-info .pt-detail-card .price {
  color: #ed3554;
  font-size: 22px;
  font-weight: 700;
}
.photo-info .pt-detail-card .blue-text {
  color: #4a90e2;
}
.profile-card-new.pc-popup-photo {
  position: relative;
  width: 100%;
  display: inline-block;
}
.profile-card-new.pc-popup-photo .pc-avatar {
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
.profile-card-new.pc-popup-photo .pc-content {
  padding-left: 52px;
  margin: 0;
}
.profile-card-new.pc-popup-photo .pc-content .pc-title {
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  margin-bottom: 3px;
}
.profile-card-new.pc-popup-photo .pc-content .pc-title, .profile-card .pc-content .pc-name {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
}
.profile-card-new.pc-popup-photo .pc-content .pc-meta {
  color: #9b9b9b;
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0;
  position: relative;
}
.profile-card-new.pc-popup-photo .pc-content .pc-meta>li {
  margin: 0 5px 0 0;
  float: left;
}

//comment food
.fd-clearbox {
  box-sizing: border-box;
  float: left;
  width: 100%;
}
.review-list .review-item {
  position: relative;
  padding: 15px 15px 0;
  margin: 0 0 8px;
  background: #fff;
}
.review-list .review-item .review-user {
  position: relative;
  padding: 0 0 5px;
  border-bottom: #f6f6f6 1px solid;
  margin-bottom: 5px;
}
.review-user .review-avatar {
  width: 40px;
  margin-right: 10px;
  float: left;
}
.review-list .review-item .review-user .ru-avatar {
  display: block;
  float: left;
  margin: 3px 5px 5px 0;
  position: relative;
}
.review-list .review-item .review-user .ru-avatar img {
  width: 40px;
  height: 40px;
}
.review-list .review-item .review-points {
  position: absolute;
  right: 0;
  top: 0;
}
.review-points.green {
  background: #03ae03;
}
.review-points {
  color: #fff;
  text-align: center;
  border-radius: 100px;
  display: block;
  width: 32px;
  height: 32px;
  font-size: 12px;
  line-height: 32px;
  overflow: hidden;
}
.review-list .review-item .review-user .ru-row {
  overflow: hidden;
  margin: 3px 0 5px;
  font-size: 14px;
}
.review-list .review-item .review-user .ru-username {
  font-weight: 700;
}
.review-list .review-item .review-user .ru-username {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  float: left;
  padding: 0 3px 0 0;
  box-sizing: border-box;
}
.review-list .review-item .review-user .ru-stats {
  clear: both;
  font-size: 11px;
  color: #666;
}
.review-list .review-item .review-des {
  position: relative;
}
.review-list .review-item .review-btns {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
.review-list .review-item .review-des .rd-des {
  margin: 0 0 5px;
  font-size: 14px;
  line-height: 1.4em;
  word-wrap: break-word;
}
.review-list .review-item .review-des .rd-des a.view-more {
  display: none;
}
.review-list .review-item .review-options {
  padding: 5px 0;
}
.review-list .review-item .review-not-foody {
  padding: 5px 0 10px;
  clear: both;
  color: #999;
}
.fc-toolbar a, .fc-toolbar i {
  color: #7f7f7f;
  display: inline;
  padding: 5px 0 0;
  font-size: 14px !important;
}

.opition {
  display: block;
  float: left;
  margin: 0 20px 0 0;
}

.recipe-summary__stars {
  img {
    height: 20px;
    width: 20px;
  }
}

.footer-distributed{
  background-color: rgba(41, 44, 47, 0.84);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

.share {
  .social-share-button .ssb-icon {
    border-radius: 50% !important;
  }
}

a.morelink {
  text-decoration:none;
  outline: none;
}
.morecontent span {
  display: none;
}
.review {
  font-size: 14px;
}
.notification-dropdown {
  margin-top: 10px;
  button {
    border: none;
  }
}