$white: #fff;
$jelly-blue: #2d97a7;
$bermuda: rgba(137, 222, 200, .76);
$pelorous: rgba(54, 178, 194, .71);
$pelorous-opacity: rgba(54, 178, 194, .91);
$black-light: rgba(0, 0, 0, .25);
$grey-opacity: rgba(119, 119, 119, .58);
$admin-background: rgba(185, 176, 176, .2);
$slide-link: #07a6f5;
$form-background: rgba(253, 255, 255, .7);
$btn-color1: #41deb6;
$form-control-color: #23ffd0;
$outside-ground: rgba(168, 129, 110, 0.82);
$caribbean-green: #05bba5;
$blue-zodiac :#404453;



.dropdown-menu{
  padding: 0px 0 !important;
  li>a{
    height:50px;
  }
}
.navbar-right li > a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    span{
      margin-left: 10px;
    }
}
.navbar-top{
  position: fixed;
  z-index: 1;
  height: 60px;
  .navbar-header{
    .navbar-nav{
      margin-top:10px;
      height: 60px; 
      li > a{
        text-align: center;
        padding-top:10px;
        .open > a{
          height:60px !important;
        }

        .dropdown{
          height:60px !important;

          .dropdown-menu{
            width: 80px !important;
            text-align: center;
            a:hover{
              border-bottom: 2px solid #03A9F4;
            }
          }
        }
      }
    }
  } 
  #language{
    a>img {
      height: 35px;
      margin-right: 10px;
      width: 35px;
    }
  }
  .navbar-collapse{
    .header-mobile-menu{
      .navbar-right{
        li>a{
          text-align:center;
          height:50px;
        }
        li> a:hover{
          border-bottom: 2px solid #03A9F4;
        }

      }
    }
  }  
}

.main-content{
  /* css in home */
  min-height: 500px;
  margin-top:60px;

  .page-section:first-child {
    padding: 60px 20px;
  }
  .page-section{
    .page-section-body {
      max-width: 1260px;
      margin: 0 auto;
      text-align:center;
    }
    #hp-header{
      .title{
        text-align: center;
        margin: 0px 0 40px 0;
      }
    }
    #hp-next{
      background-color:#e6e6e6;
      padding: 60px 20px;
    }
    #hp-header .title h1 {
      font-weight: 600;
    }
    .page-section-body h2,p{
      color:$blue-zodiac;
    }
    .contain-body{
      padding:50px 40px 40px 50px;
    }
    .page-section-body{
      .title{
        .button.underline-button{
          background: transparent;
          color: #03A9F4;
          border: none;
          border-bottom: 2px solid #03A9F4;
          font-weight: 600;
          font-size: 16px;
          line-height: 38px;
          padding: 0 15px;
        }
        .big_boot{
          font-size: 20px;
          line-height: 32px;
        }  
      }
      img{
        width: 100%;
      }
      /* css in FAQ */
      .prices-contain{
        background-color:#404453;
        .pricing-plan-wrapper{
          padding:30px;
          max-width: 400px;
          margin: auto;
          text-align: center;
          .pricing-plan{
            border-radius: 5px;
            border: 1px solid rgba(0,0,0,0.05);
            padding: 30px;
            color:#404453;
            background-color:#ffff;
            .plan-name{
              color:#404453;
              font-size: 16px;
              font-weight: 600; 
              text-transform: uppercase;
              font-family: "Roboto",sans-serif;    
            }
            .big{
              font-size: 32px;
              font-family: "Roboto",sans-serif;
            }
            .block {
              display: block;
            }
            p{
              color:#404453;
            }
          }
        }
      }
      .border-bottom.light {
        border-bottom: 1px solid #d9d9d9;
      }
    }
  }
  /* form login */
  .field input {
    width:20px;
  }
  .box{
    margin: 0 auto;
    max-width: 360px;
    box-shadow: 0 6px 12px rgba(0,0,0,.23), 0 10px 40px rgba(0,0,0,.19);
    background: $white;
    width: 100%;
    .box-header{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      text-align: center!important;
      background-color: $pelorous-opacity;
    }
    .box-content{
      padding-top: 20px!important;
      padding-bottom: 20px!important;
      padding-left: 15px!important;
      padding-right: 15px!important;

      .formButton{
        width:100%;
        background-color:$jelly-blue;
        border: none;
        font-size: 14px;
        height: 38px;
        line-height: 38px;
        color:$white;
        border-radius: 5px;
        padding:0px;
      }
      .formButton:hover{
        background-color:$btn-color1;
      }
      .checkbox{
        margin-left: 18px;
      }
    }
    .form-actions{
      text-align:center;
      .sign-in-facebook{
        color: #404453;
      }
      a:hover{
        color: $form-control-color;
      }
    }


    .box-footer{
      text-align: center!important;
      margin-top:30px;
      p>span>a{
        color:$form-control-color;
      }
      .for-get>span>a{
        color: $jelly-blue;
      }
      .for-get a:hover{
        color: $form-control-color;
      }
    }
  }
}

.footer-distributed{
  .footer-left{
    .footer-links a:hover {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
      color: $caribbean-green;
    }
  }
}
#logo-store{
  font-family:  "Times New Roman", Times, serif;
}

@media (max-width: 575.98px) {
  h1 {
    font-size: 20px;
  }
  .header-nav .header-mobile-menu {
    border-top: 1px solid #f2f2f2;
    background: white;
    .header-mobile-link>li>a {
      display: block;
      padding: 15px;
      color: $blue-zodiac;
      font-family: "Roboto",sans-serif;
      font-size: 14px;
      font-weight: 700;
      -webkit-transition: 0.3s all;
      transition: 0.3s all;
    }
  }
  .navbar-nav .open .dropdown-menu{
    text-align:center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    font-size: 30px;
  }
  .header-nav .header-mobile-menu {
    border-top: 1px solid #f2f2f2;
    background: white;
    .header-mobile-link>li>a {
      display: block;
      padding: 15px;
      color: $blue-zodiac;
      font-family: "Roboto",sans-serif;
      font-size: 14px;
      font-weight: 700;
      -webkit-transition: 0.3s all;
      transition: 0.3s all;
    }
  }
  .navbar-nav .open .dropdown-menu{
    text-align:center;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  h1 {
    font-size: 40px;
  }
  .header-nav .header-mobile-menu {
    padding:0px;
  }
  .navbar-toggle{
    #brand{
      font-size:20px;
    }
  }
  .navbar-collapse{
    .navbar-right{
      margin-top:-25px!important;

    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  h1 {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 40px;
  }
}

