<div class="container above-also">
<div class="content-heading" style="min-height: 500px;">
    <h4>Editing Review</h4>

    <%= render "review_form", location: @location, review: @review %>


    <%= link_to 'Show', @review %> |
    <%= link_to 'Back', reviews_path %>
  </div>
</div>
