<div class="btn-group" role="group">
  <div class="col-md-4">
    <label class="btn btn-default btn-checkbox">
      <span class="glyphicon glyphicon-unchecked" data-icon-on="glyphicon glyphicon-check" data-icon-off="glyphicon glyphicon-unchecked"></span>
      <input name="radio" type="radio" value="ant" style="display: none" autocomplete="false"/>Home food 
    </label>
  </div>
  <div class="col-md-4">
    <label class="btn btn-default btn-checkbox">
      <span class="glyphicon glyphicon-unchecked" data-icon-on="glyphicon glyphicon-check" data-icon-off="glyphicon glyphicon-unchecked"></span>
      <input name="radio" type="radio" value="bat" style="display: none" autocomplete="false"/> Base Kitchen
    </label>
  </div>
  <div class="col-md-4">
    <label class="btn btn-default btn-checkbox">
      <span class="glyphicon glyphicon-unchecked" data-icon-on="glyphicon glyphicon-check" data-icon-off="glyphicon glyphicon-unchecked"></span>
      <input name="radio" type="radio" value="cat" style="display: none" autocomplete="false"/> Restaurant
    </label>
  </div>
</div>  
<div class="col-md-6">
  <div class="form-group">
    <label class="control-label">House/StreetNo.</label>
    <input type="text" required="required" class="form-control" placeholder="Enter Company Name" />
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <label class="control-label">Area/Locality:</label>
    <input type="text" required="required" class="form-control" placeholder="Enter Company Address"  />
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <label class="control-label">City:</label>
    <select class="form-control" id="city" required="">
      <option value="">Choose...</option>
      <option>Ha Noi</option>
      <option>Ho Chi Minh</option>
      <option>Da Nang</option>
    </select>

  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <div class="form-group">
      <label class="control-label">Type Store</label>
      <select class="form-control" id="type_store" required="">
        <option value="">Barbecue</option>
        <option>Buffet</option>
        <option>Hotpot</option>
        <option>Cakes</option>
        <option>Tea&Snacks</option>
        <option>Rice</option>
      </select>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="funkyradio">
    <div class="funkyradio-warning">
      <input type="checkbox" name="checkbox" id="checkbox5" checked/>
      <label for="checkbox5">Order(*dish)</label>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="funkyradio">
    <div class="funkyradio-info">
      <input type="checkbox" name="checkbox" id="checkbox6" checked/>
      <label for="checkbox6">Booking(*seat)</label>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="form-group">
    <label class="control-label">Description</label>
    <textarea  maxlength="200" class="form-control"  placeholder="Enter Company Address"></textarea>
  </div>
</div>