<div class="row">
  <div class="col-md-3">Open</div>
  <div class="col-md-3">
    <div class="form-group">
      <div class='input-group date' id='datetimepicker1'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker1').datetimepicker({
          format: 'LT'
        });
      });
    </script>
  </div>
  <div class="col-md-3">Monday</div>
  <div class="col-md-3">
    <div class="form-group">
      <div class='input-group date' id='datetimepicker2'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>  
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker2').datetimepicker({
          format: 'LT'
        });
      });
    </script>
  </div>
</div>
