<div class="row">
  <div class="col-md-3">Tuesday</div>
  <div class="col-md-3">Open</div>
  <div class="col-md-3">
    <div class="form-group">
      <div class='input-group date' id='datetimepicker3'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker3').datetimepicker({
          format: 'LT'
        });
      });
    </script>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <div class='input-group date' id='datetimepicker3'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker3').datetimepicker({
          format: 'LT'
        });
      });
    </script>
  </div>
</div>
<div class="row">
  <div class="col-md-3">Wednesday</div>
  <div class="col-md-3">Open</div>
  <div class="col-md-3">
    <div class="form-group">
      <div class='input-group date' id='datetimepicker3'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker3').datetimepicker({
          format: 'LT'
        });
      });
    </script>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <div class='input-group date' id='datetimepicker3'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker3').datetimepicker({
          format: 'LT'
        });
      });
    </script>
  </div>
</div>
<div class="row">
  <div class="col-md-3">Thursday</div>
  <div class="col-md-3">Open</div>
  <div class="col-md-3">
    <div class="form-group">
      <div class='input-group date' id='datetimepicker3'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker3').datetimepicker({
          format: 'LT'
        });
      });
    </script>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <div class='input-group date' id='datetimepicker3'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker3').datetimepicker({
          format: 'LT'
        });
      });
    </script>
  </div>
</div>          
<div class="row">
  <div class="col-md-3">Friday</div>
  <div class="col-md-3">Open</div>
  <div class="col-md-3">
    <div class="form-group">
      <div class='input-group date' id='datetimepicker3'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker3').datetimepicker({
          format: 'LT'
        });
      });
    </script>
  </div>

  <div class="col-md-3">
    <div class="form-group">
      <div class='input-group date' id='datetimepicker3'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker3').datetimepicker({
          format: 'LT'
        });
      });
    </script>
  </div>
</div>
<div class="row">
  <div class="col-md-3">Saturday</div>
  <div class="col-md-3">Open</div>
  <div class="col-md-3">
    <div class="form-group">
      <div class='input-group date' id='datetimepicker3'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker3').datetimepicker({
          format: 'LT'
        });
      });
    </script>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <div class='input-group date' id='datetimepicker3'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker3').datetimepicker({
          format: 'LT'
        });
      });
    </script>
  </div>
</div>
<div class="row">
  <div class="col-md-3">Sunday</div>
  <div class="col-md-3">Open</div>
  <div class="col-md-3">
    <div class="form-group">
      <div class='input-group date' id='datetimepicker3'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker3').datetimepicker({
          format: 'LT'
        });
      });
    </script>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <div class='input-group date' id='datetimepicker3'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
    </div>
    <script type="text/javascript">
      $(function () {
        $('#datetimepicker3').datetimepicker({
          format: 'LT'
        });
      });
    </script>
  </div>
</div>