<div class="search-food">
  <div class="search-con">
    <div id="seach-form">

      <ul>
        <%= form_with url: search_path, local: true, method: :get  do |form| %>
        <li class="location" style="width: 520px; margin-left: 35px;">
        <%= form.text_field :ql, placeholder: "Search name your location ...",autocomplete: "off",id: "search",class: "form-control mr-sm-2" %>
        </li>
          <div class="easy-autocomplete-container">
          </div>
        <li class="loction_bkg">
        </li>
        <li class="submit-search-btn">
          <%= form.button "Search" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<script>
$('input[name=ql]').change(function() {
  $('#locate_params').val($(".mr-sm-2").val());
});

</script>