<ul class="nav navbar-nav navbar-right header-mobile-link" data-wow-delay="0.1s">
  <li>
    <%= render "notifications/logged_dropdown" %>
  </li>
</ul>
<style>
  ul > li ul{
    right: 4px;
    left: auto;
  }
</style>
