<ul class="nav navbar-nav navbar-right" data-wow-delay="0.1s">

  <li>
    <%= render "notifications/notification_dropdown" %>
  </li>
</ul>
<style>
  ul > li ul{
    right: 4px;
    left: auto;
  }
</style>
